<!DOCTYPE html>
<head>
    <title>个人中心</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../plugins/layui/dist/css/layui.css">
    <link rel="stylesheet" type="text/css" href="../../common/css/kuCity.css"/>
    <link rel="stylesheet" href="../../common/css/reset.css">
    <link rel="stylesheet" href="../../css/header.css">
    <link rel="stylesheet" href="../../common/css/common.css">
    <link rel="stylesheet" href="../../css/personal/personal.css">
    <script type="text/javascript" src="https://api.map.baidu.com/api?v=3.0&ak=n6K0xWCoAKyRgR0cYt6uVaC1EgAVAGFR"></script>
</head>
<body>
    <div class='header fixHeader' ms-controller='header'>
        <header>
            <!-- 版心 -->
            <div class='content_box'>
                <!-- 顶部的引导导航条 -->
                <div class='row topBar'>
                    <div class='col-md-6 col-sm-6'>
                        <div class='row'>
                            <div class='col-sm-5'>欢迎登录纵运服务平台</div>
                            <div class='col-sm-7 citySelect'><span ms-text="@city"></span>|
                                <input class="address" value="切换">
                            </div>
                        </div>
                        <div id="allmap" class="dis_none"></div>
                    </div>
                    <div class='col-md-6 col-sm-6'>
                        <div class='row  text-right'>
                            <div class='col-sm-2 col-sm-offset-6 informItem'><a href="../personal/personal.html"><img src="../../images/inform.svg" />消息<span class="newsCount" ms-if="@newsCount" ms-text="@newsCount"></span></a></div>
                            <div class='col-md-4 col-sm-4 userInfo text-left'>
                                <ul class='clearfix'>
                                    <li class="userMsg dis_none ml10"><img width="32px" height="32px" id="avatar"/></li>
                                    <li class="userMsg dis_none"><a href="../personal/personal.html" ms-text="@userInfo.username"></a><span class="ml8" ms-on-click="@loginOut">退出</span></li>
                                    <li class="userLogin">您好,请<a href='../../login.html'>登录</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- 导航条 -->
        <div class='navBar  fixNavBar'>
            <!-- 版心 -->
            <div class='content_box'>
                <div class="row">
                    <div class="col-md-3 col-sm-3 bg-fff">
                        <div class='row'>
                            <div class='col-sm-9 text-left'><img src="../../images/logo.png" width='202px' height='80px' alt="logo"></div>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-9 pl0">
                        <ul class="layui-nav">
                            <li class="layui-nav-item" data-src='../../index.html'><a href="javascript:;">首页</a></li>
                            <li class="layui-nav-item" data-src='../../views/carHall/carHall.html'><a href="javascript:;">汽车大厅</a></li>
                            <li class="layui-nav-item" ms-on-click="@limitFinancial" data-src='javascript:;'><a href="javascript:;">金融中心</a></li>
                            <li class="layui-nav-item merchant" data-src='javascript:;' ms-on-click="@setDisable('MERCHANT')">
                                <a href="javascript:;" data-src="javascript:;">运输管理</a>
                                <dl class="layui-nav-child">
                                    <dd><a href="../order/order.html?state=10" style="color:#f57619!important">渣土运输</a></dd>
                                    <dd><a href="../order/order.html?state=20" style="color:#f57619!important">产业运输</a></dd>
                                </dl>
                            </li>
                            <li class="layui-nav-item logistics" data-src='../../views/logistics/logistics.html' ms-on-click="@setDisable('LOGISTICS')"><a href="javascript:;">物流公司</a></li>
                            <li class="layui-nav-item" data-src='../../views/cooperate/cooperate.html'><a href="javascript:;">我要合作</a></li>
                            <li class="layui-nav-item  downLoad" data-src='javascript:;'>
                                <a href="javascript:;">APP下载</a>
                                <div class='downloadApp'>
                                    <ul>
                                        <li><img src="../../images/qrCode.png" alt=""></li>
                                        <li>iphone客户端</li>
                                    </ul>
                                    <ul>
                                        <li><img src="../../images/qrCode.png" alt=""></li>
                                        <li>Android客户端</li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='content_box' ms-controller="root">
        <!-- 个人中心的内容 -->
        <div class='row personal'>
            <div class='col-md-3 col-sm-3 personalItem'>
                <ul class='avatar'>
                    <li class="upload">
                        <img id="avatarLogo"  ms-attr="{ src : @userInfo.avatar?@userInfo.avatar:'../../images/avatar.png' }" width="94px" height="94px" alt="">
                        <span class="uploadimg">
                        <button type="button" class="layui-btn" id="test1">上传图片</button>
                        <img class="img-responsive" src="../../images/upload.png" alt="">
                    </span>
                    </li>
                    <li ms-text="@userInfo.username"></li>
                    <li ms-text="@userInfo.type"></li>
                </ul>
                <ul class='personalList'>
                    <li class='active'>个人资料</li>
                    <li>车辆管理</li>
                    <li ms-on-click="@getNoticeList">消息</li>
                    <li ms-on-click="@getCouponList('10')">卡券</li>
                    <li>账户</li>
                    <li ms-on-click="@getBankCar">银行卡</li>
                    <li class="proxyAgent" ms-on-click="@getProxyList">代理商家</li>
                </ul>
            </div>
            <div class='col-md-8 col-sm-8 personalContent'>
            <!-- 个人资料 -->
            <div class='personalDetail personalData'>
                <div class='PanelTitle'>个人资料</div>
                <div class='personalDes'>
                    <ul class='personalLogo'>
                        <li><img width='94' height='90' ms-attr="{ src : @userInfo.avatar?@userInfo.avatar:'../../images/avatar.png' }" src="../../images/avartar.png" alt=""></li>
                        <li class='font20 fontw mt30' ms-text="@userInfo.username">用户名</li>
                    </ul>
                    <div class='row description pt50'>
                        <div class='col-md-6 col-sm-6'>
                            <ul class='clearfix'>
                                <li>手机号</li>
                                <li>:</li>
                                <li ms-text="@userInfo.mobile"></li>
                            </ul>
                        </div>
                        <div class='col-md-6 col-sm-6 text-right'>
                            <button class='btn-orange'><a href='../login/changePhone.html'>更换</a></button>
                        </div>
                    </div>
                    <div class='row description pt50'>
                        <div class='col-md-6 col-sm-6'>
                            <ul class='clearfix'>
                                <li>登录密码</li>
                                <li>:</li>
                                <li>密码要求至少包含字母，符号或数字中</br>
                                    的两项且长度超过8位，建议您经常修改</br>
                                    密码，以保证账号更加安全。</li>
                            </ul>
                        </div>
                        <div class='col-md-6 col-sm-6 text-right'>
                            <button class='btn-orange mt8' ms-on-click="@changePwd">修改</button>
                        </div>
                    </div>
                    <div class='row description pt50'>
                        <div class='col-md-6 col-sm-6'>
                            <ul class='clearfix'>
                                <li>支付密码</li>
                                <li>:</li>
                                <li>密码设置为六位数字组合,用于余额支付</br>
                                    及提现,建议经常修改及保密,以防泄露。</br>
                                </li>
                            </ul>
                        </div>
                        <div class='col-md-6 col-sm-6 text-right'>
                            <a href="../login/changePayCode.html"><button class='btn-orange mt8'>修改</button></a>
                        </div>
                    </div>
                    <div class='row description pt30'>
                        <div class='col-md-12 col-sm-12'>
                            <ul class='clearfix'>
                                <li>实名认证</li>
                                <li>:</li>
                                <li><img class="idCard" src="../../images/idCard.png" /></li>
                            </ul>
                        </div>
                    </div>
                    <div class='row description companyInfo pt30'>
                        <div class='col-md-6 col-sm-6'>
                            <ul class='clearfix'>
                                <li>公司名称</li>
                                <li>:</li>
                                <li ms-text="@userInfo.company_name"></li>
                            </ul>
                        </div>
                        <div class='col-md-6 col-sm-6 text-right'>
                            <a href="./changeCompanyInfo.html"><button class='btn-orange' style="margin-top: -6px">修改</button></a>
                        </div>
                    </div>
                    <div class='row description companyInfo pt30'>
                        <div class='col-md-12 col-sm-12'>
                            <ul class='clearfix'>
                                <li>营业执照</li>
                                <li>:</li>
                                <li>
                                    <span ms-text="@userInfo.business_license_number"></span>
                                    <img class="licenseLogo" src="../../images/yyzz.png" />
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class='row description companyInfo pt30'>
                        <div class='col-md-12 col-sm-12'>
                            <ul class='clearfix'>
                                <li>公司地址</li>
                                <li>:</li>
                                <li ms-text="@userInfo.address"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 车辆管理 -->
            <div class='personalDetail vehicleManagement dis_none'>
                    <ul class='PanelTitle clearfix'>
                        <li class='pull-left'>车辆管理</li>
                        <li class='pull-right'><button class='btn-add' ms-on-click='@addCar'>添加车辆</button></li>
                    </ul>
                    <div class='vehicleContent mt50'>
                        <div class='vehicleDetail pull-left' ms-for="(index,el) in @carList">
                            <img ms-attr="{ src : el.vehicle_picture[0] }" src="../../images/vCar.png" alt="">
                            <div class='angel-left'></div>
                            <div class='angel-right'></div>
                            <button class="btn-carStatus" ms-text="el.status"></button>
                            <ul class='vehicleDes clearfix'>
                                <li ms-text="el.license_plate"></li>
                                <li><label ms-text="el.type == '10'?'渣土运输':'货物运输'"></label>/<label ms-text="el.weight"></label>吨/<label ms-text="el.volume"></label>m³</li>
                                <li ms-text="el.brand"></li>
                                <li class="unbind" ms-if="el.status == '在线'"><span class="setOnline active" ms-on-click="@setOnline(el.car_id)">设为在线</span><span class="unbindCar" ms-on-click="@unbindCar(el.car_id)">解绑</span></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
            </div>
        </div>
            <!-- 消息 -->
            <div class='personalDetail personalMsg dis_none'>
                <div class='PanelTitle'>消息</div>
                <div class='allInforms'>
                    <div class='row informs'  ms-for="(i,item) in @newsList" ms-if="i==0">
                        <div class='col-md-1 col-sm-1 formLogo'>
                            <img src="../../images/form_logo.png" alt="">
                        </div>
                        <div class='col-md-9 col-sm-9 informContent'>
                            <ul class='clearfix fontw informTitle'>
                                <li ms-text="item.title"></li>
                                <li ms-text="item.create_time"></li>
                            </ul>
                            <div class='informDetail' ms-text="item.content">
                                <p>平台将定于12月21日晚8：00进行更新:</p>
                                <p>本次更新的主要功能有某某功能</p>
                                <p>敬请期待！</p>
                            </div>
                        </div>
                        <div class='col-md-2 col-sm-2 text-right'><button class='btn-del'>删除</button></div>
                    </div>
                    <div class='row informs'  ms-for="(i,item) in @newsList" ms-if="i>=1">
                        <div class='col-md-1 col-sm-1 formLogo'>
                            <img src="../../images/form_logo.png" alt="">
                        </div>
                        <div class='col-md-9 col-sm-9 informContent'>
                            <ul class='clearfix fontw informTitle'>
                                <li ms-text="item.title"></li>
                                <li ms-text="item.create_time"></li>
                            </ul>
                            <div class='informDetail' ms-text="item.content">
                                <p>平台将定于12月21日晚8：00进行更新:</p>
                                <p>本次更新的主要功能有某某功能</p>
                                <p>敬请期待！</p>
                            </div>
                        </div>
                        <div class='col-md-2 col-sm-2 text-right'><button class='btn-del'>删除</button></div>
                    </div>
                    <div id="demo1"></div>
                </div>
            </div>
            <!--卡券-->
            <div class="personalDetail discountCard dis_none">
                <ul class="tabTitle clearfix">
                    <li class="active" ms-on-click="@getCouponList('10')">未使用</li>
                    <li ms-on-click="@getCouponList('20')">已使用</li>
                    <li ms-on-click="@getCouponList('30')">已过期</li>
                </ul>
                <div class="tabContent">
                    <!--未使用(10)-->
                    <div class="tabItem">
                        <div class="discountDetail clearfix">
                            <div class="discountItem pull-left rl" ms-for="el in @couponList">
                                <ul>
                                    <li class="price">¥<span ms-text="el.less"></span></li>
                                    <li class="font12 color-999">仅限使用一张</li>
                                </ul>
                                <ul>
                                    <li class="font20 fontw">抵用券</li>
                                    <li class="font20">满<span ms-text="el.full">1000</span>减<span ms-text="el.less"></span></li>
                                    <li class="font12 color-999"><span ms-text="el.use_time"></span>至<span ms-text="el.expired_time"></span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--已使用(20)-->
                    <div class="tabItem dis_none">
                        <div class="discountDetail clearfix">
                            <div class="discountItem usedItem pull-left rl" ms-for="el in @couponList">
                                <ul>
                                    <li class="price">¥<span ms-text="el.less"></span></li>
                                    <li class="font12 color-999">仅限使用一张</li>
                                </ul>
                                <ul class="color-999">
                                    <li class="font20 fontw">抵用券</li>
                                    <li class="font20">满<span ms-text="el.full"></span>减<span ms-text="el.less"></span></li>
                                    <li class="font12"><span ms-text="el.use_time"></span>至<span ms-text="el.expired_time"></span></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                            <div class="statusIcon"></div>
                        </div>
                    </div>
                    <!--已过期(30)-->
                    <div class="tabItem dis_none">
                        <div class="discountDetail clearfix">
                            <div class="discountItem usedItem pull-left rl" ms-for="el in @couponList">
                                <ul>
                                    <li class="price">¥<span ms-text="el.less"></span></li>
                                    <li class="font12 color-999">仅限使用一张</li>
                                </ul>
                                <ul class="color-999">
                                    <li class="font20 fontw">抵用券</li>
                                    <li class="font20">满<span ms-text="el.full"></span>减<span ms-text="el.less"></span></li>
                                    <li class="font12"><span ms-text="el.use_time"></span>至<span ms-text="el.expired_time"></span></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                            <div class="statusIcon"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 账户 -->
            <div class='personalDetail personalAccount dis_none'>
                <div class='PanelTitle'>账户</div>
                <!-- 提现 -->
                <div class='withdraw'>
                    <div class='font20 fontw'>可提现金额(元)</div>
                    <div class='withdrawContent clearfix'>
                        <ul class='pull-left'>
                            <li>1222.00</li>
                        </ul>
                        <ul class='pull-right'>
                            <li><button ms-on-click='@recharge'>充值</button></li>
                            <li><button ms-on-click='@applyMoney'>提现</button></li>
                        </ul>
                    </div>
                </div>
                <!-- 提现记录 -->
                <div class='recordList'>
                    <div class='recordTitle'>
                        <div class='clearfix'>
                            <div class='pull-left font18 fontw'>提现记录</div>
                            <ul class='pull-right clearfix'>
                                <li class='calendar'><span ms-text="@dateRange"></span><img src="../../images/accountIcon.png" alt=""></li>
                                <div class="layui-input-inline">
                                    <input type="text" ms-duplex="@dateRange" class="layui-input" id="test16" placeholder="开始 到 结束">
                                </div>
                            </ul>
                        </div>
                    </div>
                    <div class='countTime clearfix'>
                        <ul class='clearfix'>
                            <li>提现次数</li>
                            <li>:</li>
                            <li>25次</li>
                        </ul>
                        <ul class='clearfix'>
                            <li>总提现金额</li>
                            <li>:</li>
                            <li>25632.00元</li>
                        </ul>
                    </div>
                    <div class='recordItem'>
                        <ul class='itemTitle clearfix'>
                            <li>订单编号</li>
                            <li>:</li>
                            <li>14521234564</li>
                        </ul>
                        <div class='itemDetail clearfix'>
                            <div class='pull-left'>
                                <ul class='clearfix'>
                                    <li>提现时间</li>
                                    <li>:</li>
                                    <li>2018-09-10</li>
                                    <li class='ml40'>12:53</li>
                                </ul>
                                <ul class='clearfix'>
                                    <li>提现账户</li>
                                    <li>:</li>
                                    <li>6321 **** **** **** 521</li>
                                </ul>
                            </div>
                            <div class='pull-right clearfix'>
                                <ul>
                                    <li class='font20 fontw'>2000.00</li>
                                    <li class='color-999'>提现金额(元)</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class='recordItem'>
                        <ul class='itemTitle clearfix'>
                            <li>订单编号</li>
                            <li>:</li>
                            <li>14521234564</li>
                        </ul>
                        <div class='itemDetail clearfix'>
                            <div class='pull-left'>
                                <ul class='clearfix'>
                                    <li>提现时间</li>
                                    <li>:</li>
                                    <li>2018-09-10</li>
                                    <li class='ml40'>12:53</li>
                                </ul>
                                <ul class='clearfix'>
                                    <li>提现账户</li>
                                    <li>:</li>
                                    <li>6321 **** **** **** 521</li>
                                </ul>
                            </div>
                            <div class='pull-right clearfix'>
                                <ul>
                                    <li class='font20 fontw'>2000.00</li>
                                    <li class='color-999'>提现金额(元)</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class='recordItem'>
                        <ul class='itemTitle clearfix'>
                            <li>订单编号</li>
                            <li>:</li>
                            <li>14521234564</li>
                        </ul>
                        <div class='itemDetail clearfix'>
                            <div class='pull-left'>
                                <ul class='clearfix'>
                                    <li>提现时间</li>
                                    <li>:</li>
                                    <li>2018-09-10</li>
                                    <li class='ml40'>12:53</li>
                                </ul>
                                <ul class='clearfix'>
                                    <li>提现账户</li>
                                    <li>:</li>
                                    <li>6321 **** **** **** 521</li>
                                </ul>
                            </div>
                            <div class='pull-right clearfix'>
                                <ul>
                                    <li class=' font20 fontw'>2000.00</li>
                                    <li class='color-999'>提现金额(元)</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="demo2"></div>
                </div>
            </div>
            <!-- 银行卡 -->
            <div class='personalDetail personalBankCard dis_none'>
                <ul class='PanelTitle clearfix'>
                    <li class='pull-left'>银行卡</li>
                    <li class='pull-right'><button class='btn-add' ms-on-click='@addBankCard'>添加银行卡</button></li>
                </ul>
                <div class='bankCard clearfix'>
                    <ul class='cardShow' ms-for="el in @bankCardList">
                        <li class="carDetail">
                            <span class="bankName" ms-text="el.bank_name">中国建设银行</span><br>
                            <span class="bankAccount" ms-text="el.card_number"></span>
                        </li>
                        <li class='clearfix'><span class='pull-left' ms-on-click='@setDefault(el.card_id)'>设为默认</span><span class='pull-right' ms-on-click='@unbind(el.card_id)'>解绑</span></li>
                    </ul>
                </div>
            </div>
            <!-- 代理商家 -->
            <div class='personalDetail personalAgent dis_none'>
                <div class='PanelTitle'>代理商家</div>
                <div class='countContent clearfix'>
                    <div class='countItem'>
                        <div class='countTitle'>总订单数量(单)</div>
                        <div class='countNumber' ms-text="@companyInfo.order"></div>
                    </div>
                    <div class='countItem'>
                        <div class='countTitle'>总订单金额(¥)</div>
                        <div class='countNumber' ms-text="@companyInfo.money"></div>
                    </div>
                    <div class='countItem'>
                        <div class='countTitle'>可提现金额(¥)</div>
                        <div class='countNumber' ms-text="@companyInfo.withdraw"></div>
                        <div class='apply' ms-on-click='@applyMoney'>申请提现</div>
                    </div>
                </div>
                <div class='agentList'>
                    <div class='agentItem clearfix' ms-for="el in @agentList">
                        <div class='agentLogo pull-left'>
                            <img ms-attr="{ src : el.avatar }"  width="99px"  height="70px" alt="">
                        </div>
                        <div class='agentMsg pull-left'>
                            <div class='agentName' ms-text="el.company_name"></div>
                            <ul class='clearfix'>
                                <li>总订单数量</li>
                                <li>:</li>
                                <li ms-text="el.order"></li>
                            </ul>
                            <ul class='clearfix'>
                                <li>总订单金额</li>
                                <li>:</li>
                                <li ms-text="el.money"></li>
                            </ul>
                            <ul class='clearfix'>
                                <li>公司地址</li>
                                <li>:</li>
                                <li ms-text="el.province + el.city + el.area + el.address"></li>
                            </ul>
                        </div>
                        <div class='agentContact pull-right'>
                            <img src="../../images/phoneIcon.png" alt="">
                            <span ms-text="el.mobile"></span>
                        </div>
                    </div>
                    <div id="demo3"></div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="../../plugins/common/include.js"></script>
    <include src="../footer/footer.html"></include>
    <script src='../../plugins/jquery/jquery.min.js'></script>
    <script src='../../plugins/layui/dist/layui.all.js'></script>
    <script src='../../plugins/avalon/avalon.min.js'></script>
    <script src='../../common/js/kuCity.js'></script>
    <script src="../../data/api.js"></script>
    <script src="../../data/data.js"></script>
    <script src="../../data/return_data.js"></script>
    <script src='../../js/header.js'></script>
    <script src='../../js/personal/personal.js'></script>
</body>
