.showMsg {
  background-color: red;
  width: 100%;
  height: 209px;
  background-image: url('../../images/showBox.png');
  border: 1px solid #999;
}
.showMsg .showImg {
  padding-left: 40px;
  padding-top: 47px;
}
.cName {
  font-size: 26px;
  font-weight: bold;
  padding-top: 35px;
}
.cMsg {
  margin-top: 26px;
}
.cMsg ul li {
  float: left;
}
.cMsg ul li:nth-child(2) {
  margin: 0 8px;
}
.cMsg ul:not(:first-child) {
  margin-top: 10px;
}
.companyInfo {
  position: relative;
}
.bannerImg {
  width: 100%;
  overflow: hidden;
  margin-top: 106px;
}
.showMsg {
  position: absolute;
  left: 0px;
  top: -134px;
}
.countItems {
  margin-top: 144px;
  padding: 0 20px;
}
.countItem {
  width: 285px;
  height: 135px;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  cursor: pointer;
  float: left;
}
.countItem:not(:first-child) {
  margin-left: 150px;
}
.countItem > ul,
.countItem > img {
  float: left;
}
.countItem img {
  padding: 30px 30px 44px 45px;
}
.countItem ul {
  height: 107px;
  margin-top: 14px;
  padding-left: 30px;
  border-left: 1px solid #eaeaea;
}
.countItem ul li:first-child {
  font-size: 22px;
}
.countItem ul li:last-child {
  font-size: 36px;
  font-weight: bold;
  margin-top: 28px;
}
.countItem ul li:last-child span {
  font-size: 16px;
  font-weight: normal;
}
.mask {
  width: 285px;
  height: 135px;
  background-color: #000000;
  opacity: 0.63;
  line-height: 135px;
  text-align: center;
  font-size: 22px;
  color: #fff;
  font-weight: bold;
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
  cursor: pointer;
}
.searchInput {
  margin-top: 20px;
  margin-bottom: 30px;
}
.searchInput li {
  float: left;
}
.searchInput li input {
  display: inline-block;
  width: 259px;
  height: 36px;
  border: 0px;
  border: 1px solid #999;
  border-right: 0px;
  padding-left: 10px;
  outline: none;
}
.searchInput li button {
  width: 98px;
  height: 36px;
  border: 0px;
  border: 1px solid #f57619;
  background-color: #f57619;
  color: #fff;
}
.drivers {
  margin-top: 65px;
}
.titleLine {
  font-size: 24px;
  font-weight: bold;
  border-bottom: 4px solid #999;
  line-height: 34px;
  padding-bottom: 6px;
}
.titleLine .line {
  display: inline-block;
  width: 7px;
  height: 34px;
  background-color: #f57619;
  vertical-align: middle;
  margin-right: 16px;
}
.itemTitle {
  height: 43px;
  background-color: #fffaf6;
  line-height: 43px;
  padding-right: 23px;
}
.itemTitle li {
  float: right;
}
.itemTitle img {
  vertical-align: middle;
}
.itemDetail > div,
.itemDetail img {
  float: left;
}
.itemDetail ul li {
  float: left;
}
.itemDetail ul li:nth-child(2) {
  margin: 0 8px;
}
.itemDetail img {
  padding: 11px 0px 0px 17px;
}
.itemBox {
  width: 767px;
  height: 194px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
}
.itemBox:not(:first-child) {
  margin-top: 48px;
}
.itemDes {
  padding-top: 20px;
  margin-left: 24px;
}
.itemDes .name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 24px;
}
.itemDes .core {
  width: 66px;
  height: 27px;
  background-color: #f57619;
  color: #fff;
  line-height: 27px;
  text-align: center;
}
.countBox {
  width: 309px;
  height: 303px;
  border: 1px solid #999;
  padding-left: 20px;
  padding-top: 28px;
}
.countBox:not(:first-child) {
  margin-top: 78px;
}
.countBox .countTitle {
  font-size: 22px;
  font-weight: bold;
}
.countBox .countNumber {
  width: 179px;
  height: 179px;
  text-align: center;
  background-color: #fffaf6;
  border-radius: 179px;
  line-height: 179px;
  margin-left: 48px;
  margin-top: 32px;
}
.countBox .countNumber span {
  color: #f57619;
}
.countBox .countNumber span:first-child {
  font-size: 44px;
  font-weight: bold;
}
.countBox .countNumber span:last-child {
  font-size: 35px;
}
.countBox .btn-apply {
  width: 195px;
  height: 42px;
  background-color: #f57619;
  color: #fff;
  outline: none;
  border: 0px;
  border: 1px solid #f57619;
  line-height: 42px;
  text-align: center;
  margin-top: 19px;
  margin-left: 37px;
}
.layui-laypage {
  margin: 67px 0px 0px 78px;
}
.layui-laypage a,
.layui-laypage span {
  font-size: 16px;
}
