<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" href="../../plugins/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../plugins/layui/dist/css/layui.css">
    <link rel="stylesheet" href="../../common/css/reset.css">
    <link rel="stylesheet" href="../../common/css/common.css">
    <link rel="stylesheet" href="../../css/order/checkModel.css">
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=n6K0xWCoAKyRgR0cYt6uVaC1EgAVAGFR">
    </script>
    <title>查看路线</title>
</head>

<body>
    <div class='checkLine' ms-controller='root'>
        <div class='titleLine'>
            <span class='line'></span>
            <span class='title'>查看路线</span>
        </div>
        <ul class="routeLine">
            <li>全程<span class="ml6 mr6">:</span><span ms-text="@mapMsg.all_distance"></span></li>
            <li>剩余路程<span class="ml6 mr6">:</span><span ms-text="@mapMsg.now_distance"></span></li>
            <li>预计还需<span class="ml6 mr6">:</span><span ms-text="@mapMsg.time"></span></li>
        </ul>
        <div id="allmap"></div>
        <div id="r-result"></div>
    </div>
    <script src='../../plugins/jquery/jquery.min.js'></script>
    <script src='../../plugins/layui/dist/layui.js'></script>
    <script src='../../plugins/avalon/avalon.min.js'></script>
    <script src="../../data/data.js"></script>
    <script src="../../data/api.js"></script>
    <script src="../../data/return_data.js"></script>
    <script src="../../js/order/checkLine.js"></script>
    <script type="text/javascript">
       /* var map = new BMap.Map("allmap");
        map.centerAndZoom(new BMap.Point(116.404, 39.915), 14);
        var driving = new BMap.DrivingRoute(map, {
            renderOptions: {
                map: map,
                autoViewport: true
            }
        });
        var geolocation = new BMap.Geolocation();
        geolocation.getCurrentPosition(function(r){
            if(this.getStatus() == BMAP_STATUS_SUCCESS){
                var mk = new BMap.Marker(r.point);
                map.addOverlay(mk);
                map.panTo(r.point);
                var start = new BMap.Point(r.point.lng, r.point.lat);
                var end = new BMap.Point(116.486419, 39.877282);
                driving.search(start, end);
            }
        });*/
    </script>
</body>
</html>
