<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <link rel="stylesheet" href="../../plugins/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../plugins/layui/dist/css/layui.css">
    <link rel="stylesheet" href="../../common/css/kuCity.css">
    <link rel="stylesheet" href="../../common/css/reset.css">
    <link rel="stylesheet" href="../../common/css/common.css">
    <link rel="stylesheet" href="../../css/header.css">
    <link rel="stylesheet" href="../../css/footer.css">
    <link rel="stylesheet" href="../../css/order/order.css">
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=3.0&ak=n6K0xWCoAKyRgR0cYt6uVaC1EgAVAGFR"></script>
    <title>运输管理</title>
</head>

<body>
	<div class='header fixHeader' ms-controller='header'>
        <header>
            <!-- 版心 -->
            <div class='content_box'>
                <!-- 顶部的引导导航条 -->
                <div class='row topBar'>
                    <div class='col-md-6 col-sm-6'>
                        <div class='row'>
                            <div class='col-sm-5'>欢迎登录纵运服务平台</div>
                            <div class='col-sm-7 citySelect'><span ms-text="@city"></span>|
                                <input class="address" value="切换">
                            </div>
                        </div>
                        <div id="allmap" class="dis_none"></div>
                    </div>
                    <div class='col-md-6 col-sm-6'>
                        <div class='row  text-right'>
                            <div class='col-sm-2 col-sm-offset-6'>消息</div>
                            <div class='col-md-4 col-sm-4 userInfo text-left'>
                                <ul class='clearfix'>
                                    <li class="userMsg dis_none ml10"><img width="32px" height="32px" id="avatar"/></li>
                                    <li class="userMsg dis_none"><a href="../personal/personal.html" ms-text="@userInfo.username"></a><span class="ml8" ms-on-click="@loginOut">退出</span></li>
                                    <li class="userLogin">您好,请<a href='../../login.html'>登录</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- 导航条 -->
        <div class='navBar  fixNavBar'>
            <!-- 版心 -->
            <div class='content_box'>
                <div class="row">
                    <div class="col-md-3 col-sm-3 bg-fff">
                        <div class='row'>
                            <div class='col-sm-9 text-left'><img src="../../images/logo.png" width='202px' height='80px' alt="logo"></div>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-9 pl0">
                        <ul class="layui-nav">
                            <li class="layui-nav-item" data-src='../../index.html'><a href="javascript:;">首页</a></li>
                            <li class="layui-nav-item" data-src='../../views/carHall/carHall.html'><a href="javascript:;">汽车大厅</a></li>
                            <li class="layui-nav-item" ms-on-click="@limitFinancial" data-src='javascript:;'><a href="javascript:;">金融中心</a></li>
                            <li class="layui-nav-item merchant layui-this" data-src='javascipt:;' ms-on-click="@setDisable('MERCHANT')">
                                <a href="javascript:;" data-src="javascript:;">运输管理</a>
                                <dl class="layui-nav-child">
                                    <dd><a href="../order/order.html?state=10" style="color:#f57619!important">渣土运输</a></dd>
                                    <dd><a href="../order/order.html?state=20" style="color:#f57619!important">产业运输</a></dd>
                                </dl>
                            </li>
                            <li class="layui-nav-item logistics"  data-src='../../views/logistics/logistics.html' ms-on-click="@setDisable('LOGISTICS')"><a href="javascript:;">物流公司</a></li>
                            <li class="layui-nav-item" data-src='../../views/cooperate/cooperate.html'><a href="javascript:;">我要合作</a></li>
                            <li class="layui-nav-item  downLoad" data-src='javascript:;'>
                                <a href="javascript:;">APP下载</a>
                                <div class='downloadApp'>
                                    <ul>
                                       <li><img src="../../images/qrCode.png" alt=""></li>
                                        <li>iphone客户端</li>
                                    </ul>
                                    <ul>
                                        <li><img src="../../images/qrCode.png" alt=""></li>
                                        <li>Android客户端</li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ms-controller='root'>
        <div class='bannerImg'>
            <img src="../../images/bannerOrder.png" alt="">
        </div>
        <!-- 公司信息 -->
        <div class='content_box companyInfo'>
            <div class='row  showMsg'>
                <div class='col-md-3 col-sm-3 showImg'>
                    <!--<div class='img' style='width:188px;height:126px;background:red'></div>-->
                     <img id="companyLogo" ms-attr="{ src : @merchantInfo.company_logo?@merchantInfo.company_logo:'../../images/companyInfo.png' }" width='188px' height='126px' alt="">
                </div>
                <div class='col-md-9 col-sm-9'>
                    <div class='cName'  ms-text="@merchantInfo.company_name"></div>
                    <div class='cMsg'>
                        <ul class='clearfix'>
                            <li>入驻时间</li>
                            <li>:</li>
                            <li ms-text="@merchantInfo.create_time"></li>
                        </ul>
                        <ul class='clearfix'>
                            <li>营业执照</li>
                            <li>:</li>
                            <li ms-text="@merchantInfo.business_license_number"></li>
                        </ul>
                        <ul class='clearfix'>
                            <li>公司地址</li>
                            <li>:</li>
                            <li  ms-text="@merchantInfo.province + @merchantInfo.city + @merchantInfo.area + @merchantInfo.address"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class='clearfix'></div>
        </div>

        <div class="order">
        <div class='content_box'>
            <div class="order clearfix">
                <div class="pull-right order_left">
                    <ul class="tabTitle clearfix">
                        <li class="active" ms-on-click="@getStatusOrder('demo1','','')">全部订单<span style="color:#333!important">|</span></li>
                        <li ms-on-click="@getStatusOrder('demo2','10','')">待支付<span style="color:#333!important">|</span></li>
                        <li ms-on-click="@getStatusOrder('demo3','20','')">待接单<span style="color:#333!important">|</span></li>
                        <li ms-on-click="@getStatusOrder('demo4','40','10')">待装货<span style="color:#333!important">|</span></li>
                        <li ms-on-click="@getStatusOrder('demo5','40','20')">运输中<span style="color:#333!important">|</span></li>
                        <li ms-on-click="@getStatusOrder('demo6','40','40')">待签收<span style="color:#333!important">|</span></li>
                        <li ms-on-click="@getStatusOrder('demo7','40','60')">投诉/申诉<span style="color:#333!important">|</span></li>
                        <li ms-on-click="@getStatusOrder('demo8','40','70')">退款/赔付</li>
                    </ul>
                    <div class="tabContent">
                        <!--全部订单-->
                        <div class="tabItem">
                            <ul class="search clearfix">
                                <li class="pull-left"><input type="text" ms-duplex="@postData.keyword" placeholder="请输入订单编号/目的地进行搜索" /></li>
                                <li class="pull-left"><button class="btn-search" ms-on-click="@getSearchList('demo1','40','')">搜索</button></li>
                                <li class="pull-right"><a href="./publishOrder.html"><button class="btn-publish">发布货单</button></a></li>
                            </ul>
                            <div class="itemDetail" ms-for="el in @orderList" ms-if="el.type=='10'" ms-attr="{ id : 'active_' + el.goods_id }" ms-mouseover="@setActive('active_'+el.goods_id)" ms-mouseout="@removeActive('active_'+el.goods_id)">
                                <ul class="itemTitle clearfix">
                                    <li class="pull-left">订单编号<span class="ml4 mr4">:</span><span ms-text="el.goods_status != '40' ? el.goods_number : el.order_number"></span></li>
                                    <li class="phone pull-right" ms-mouseover="@showModel('active_'+el.goods_id)" ms-mouseout="@hideModel('active_'+el.goods_id)" ms-if="el.goods_status=='40'"><img src="../../images/phoneIcon.png" />联系电话</li>
                                </ul>
                                <div class="itemDes clearfix">
                                    <div class="des_left pull-left clearfix">
                                        <img ms-attr="{ src : el.goods_images }" class="pull-left" width="113px" height="99px" alt=""></li>
                                        <div class="description pull-left">
                                            <ul>
                                                <li ms-on-click="@checkDetail(el.goods_id)"><span ms-text="el.start_address.city"></span><span class="ml8" ms-text="el.start_address.area"></span> → <span ms-text="el.end_address.city"></span><span class="ml8" ms-text="el.end_address.area"></span><img ms-if="el.expedited == '10'" class="ml4" src="../../images/urgent.png" /></li>
                                                <li><span ms-text="el.car_length"></span>/<span ms-text="el.car_model"></span>/<span ms-text="el.weight"></span>吨/<span ms-text="el.volume"></span>方</li>
                                                <li><span ms-text="el.goods_type"></span>/<span ms-text="el._type"></span></li>
                                                <li>待付金额<span class="ml4 mr4">:</span><span ms-text="el.money"></span>元</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="des_right pull-right">
                                        <ul class="operateItem" ms-if="el.goods_status !='40' && el.goods_status == '10'">
                                            <!--待支付-->
                                            <li><a ms-attr="{ href : './payPublishOrder.html?goods_id=' + el.goods_id }"><button>立即付款</button></a></li>
                                            <li class="color-999 mt10"><a ms-attr="{ href : './editOrder.html?goods_id=' + el.goods_id }">修改货单</a></li>
                                            <li class="color-orange mt10" ms-on-click="@deleteOrder(el.goods_id,'demo1','','')">删除货单 </li>
                                        </ul>
                                        <!--未接单的取消货单-->
                                        <ul class="operateItem" ms-if="el.goods_status !='40' && el.goods_status == '20'">
                                            <li style="margin-top:23px"><button ms-on-click="@orderCancel(el.goods_id)">取消货单</button></li>
                                        </ul>
                                        <!--未接单的已取消-->
                                        <ul class="operateItem" ms-if="el.goods_status !='40' && el.goods_status == '30'">
                                            <li class="color-999 mt50 mr24">已取消</li>
                                        </ul>
                                        <ul class="operateItem" ms-if="el.goods_status =='40' && el.order_status == '10'">
                                            <!--待装货-->
                                            <li><button ms-on-click="@confirmLoad(el.order_id)">确认装货</button></li>
                                            <li class="color-999 mt10" ms-on-click="@closeOrder(el.order_id)">取消订单</li>
                                            <li class="color-999 mt10" ms-on-click="@checkLine(el.goods_id)">查看运输</li>
                                        </ul>
                                        <ul class="operateItem" ms-if="el.goods_status =='40' &&el.order_status == '20'">
                                            <!--运输中-->
                                            <li class="color-999 mt50 mr24" ms-on-click="@checkLine(el.goods_id)">查看运输</li>
                                        </ul>
                                        <ul class="operateItem" ms-if="el.goods_status =='40' && el.order_status == '40'">
                                            <!--待签收-->
                                            <li><button ms-on-click="@confirmReceipt(el.order_id)">确认收货</button></li>
                                            <li class="color-999 mt10" ms-on-click="@checkLine(el.goods_id)">查看运输</li>
                                            <li class="color-999 mt10" ms-on-click="@orderState(el.order_id)">投&emsp;&emsp;诉</li>
                                        </ul>
                                        <ul class="operateItem" ms-if="el.goods_status =='40' && el.order_status == '60'">
                                            <!--投诉-->
                                            <li class="color-999 mt40 mr24" ms-if="el.status == '10'" ms-on-click="@orderComplain(el.order_id)">投&nbsp;&nbsp;诉&nbsp;&nbsp;中</li>
                                            <li class="color-999 mt40 mr24" ms-if="el.status == '20'" ms-on-click="@orderComplain(el.order_id)">处&nbsp;&nbsp;理&nbsp;&nbsp;中</li>
                                            <li class="color-999 mt40 mr24" ms-if="el.status == '30'" ms-on-click="@orderComplain(el.order_id)">处理完成</li>
                                            <li class="color-999 mt40 mr24" ms-if="el.status == '40'">已取消投诉</li>
                                            <li class="color-999 mt20 mr24" ms-if="el.status == '10'" ms-on-click="@orderComplain(el.order_id)">取消投诉</li>
                                        </ul>
                                        <ul class="operateItem" ms-if="el.goods_status =='40' &&el.order_status == '70'">
                                            <!--退款赔付-->
                                            <li class="color-999 mt50 mr24" ms-if="el.status=='10'" ms-on-click="@drawback">发起退款/赔付</li>
                                            <li class="color-999 mt50 mr24" ms-if="el.status=='20'" ms-on-click="@drawback">退款中</li>
                                            <li class="color-999 mt50 mr24" ms-if="el.status=='30'" ms-on-click="@drawback">处理完成</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="model">
                                    <div class="qrCodeContent">
                                        <ul class="code">
                                            <!-- <li><img src="../../images/qrCode.png" width="62" height="62" /></li>-->
                                            <li class="tri"></li>
                                            <li><img ms-attr="{ src : el.tell }" src="../../images/qrCode.png" width="113" height="113" /></li>
                                            <li>扫码拨号·<span ms-text="el.name"></span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--待装货状态 goods_status == 40-->
                          <!--  <div class="itemDetail" ms-for="el in @orderList"  ms-if="el.type=='10' && el.goods_status =='40'" ms-attr="{ id : 'active_' + el.goods_id }" ms-mouseover="@setActive('active_'+el.goods_id)" ms-mouseout="@removeActive('active_'+el.goods_id)">
                                <ul class="itemTitle clearfix">
                                    <li class="pull-left">订单编号<span class="ml4 mr4">:</span><span ms-text="el.order_number"></span></li>
                                    <li class="phone pull-right"><img src="../../images/phoneIcon.png" />联系电话</li>
                                </ul>
                                <div class="itemDes clearfix">
                                    <div class="des_left pull-left clearfix">
                                        <img ms-attr="{ src : el.goods_images }" class="pull-left" width="113px" height="99px" alt=""></li>
                                        <div class="description pull-left">
                                            <ul>
                                                <li ms-on-click="@checkDetail(el.goods_id)"><span ms-text="el.start_address.city"></span><span class="ml8" ms-text="el.start_address.area"></span> → <span ms-text="el.end_address.city"></span><span class="ml8" ms-text="el.end_address.area"></span><img ms-if="el.expedited == '10'" class="ml4" src="../../images/urgent.png" /></li>
                                                <li><span ms-text="el.car_length"></span>米/<span ms-text="el.car_model"></span>吨/<span ms-text="el.volume"></span>方</li>
                                                <li><span ms-text="el.goods_type"></span>/<span ms-text="el._type"></span></li>
                                                <li>待付金额<span class="ml4 mr4">:</span><span ms-text="el.money"></span>元</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="des_right pull-right">
                                        <ul class="operateItem" ms-if="el.order_status == '10'">
                                            &lt;!&ndash;待装货&ndash;&gt;
                                            <li><button ms-on-click="@confirmLoad(el.order_id)">确认装货</button></li>
                                            <li class="color-999 mt10" ms-on-click="@closeOrder(el.order_id)">取消订单</li>
                                            <li class="color-999 mt10" ms-on-click="@checkLine">查看运输</li>
                                        </ul>
                                        <ul class="operateItem" ms-if="el.order_status == '20'">
                                            &lt;!&ndash;运输中&ndash;&gt;
                                            <li class="color-999 mt50 mr24" ms-on-click="@checkLine(el.goods_id)">查看运输</li>
                                        </ul>
                                        <ul class="operateItem" ms-if="el.order_status == '40'">
                                            &lt;!&ndash;待签收&ndash;&gt;
                                            <li><button ms-on-click="@confirmReceipt(el.order_id)">确认收货</button></li>
                                            <li class="color-999 mt10" ms-on-click="@checkLine(el.goods_id)">查看运输</li>
                                            <li class="color-999 mt10" ms-on-click="@orderState(el.order_id)">投&emsp;&emsp;诉</li>
                                        </ul>
                                        <ul class="operateItem" ms-if="el.order_status == '60'">
                                            &lt;!&ndash;投诉&ndash;&gt;
                                            <li class="color-999 mt40 mr24" ms-if="el.status == '10'" ms-on-click="@orderComplain(el.order_id)">投&nbsp;&nbsp;诉&nbsp;&nbsp;中</li>
                                            <li class="color-999 mt40 mr24" ms-if="el.status == '20'" ms-on-click="@orderComplain(el.order_id)">处&nbsp;&nbsp;理&nbsp;&nbsp;中</li>
                                            <li class="color-999 mt40 mr24" ms-if="el.status == '30'" ms-on-click="@orderComplain(el.order_id)">处理完成</li>
                                            <li class="color-999 mt40 mr24" ms-if="el.status == '40'">已取消投诉</li>
                                            <li class="color-999 mt20 mr24" ms-if="el.status == '10'" ms-on-click="@orderComplain(el.order_id)">取消投诉</li>
                                        </ul>
                                        <ul class="operateItem" ms-if="el.order_status == '70'">
                                            &lt;!&ndash;退款赔付&ndash;&gt;
                                            <li class="color-999 mt50 mr24" ms-if="el.status=='10'" ms-on-click="@drawback">发起退款/赔付</li>
                                            <li class="color-999 mt50 mr24" ms-if="el.status=='20'" ms-on-click="@drawback">退款中</li>
                                            <li class="color-999 mt50 mr24" ms-if="el.status=='30'" ms-on-click="@drawback">处理完成</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="model">
                                    <div class="qrCodeContent">
                                        <ul class="code">
                                            &lt;!&ndash; <li><img src="../../images/qrCode.png" width="62" height="62" /></li>&ndash;&gt;
                                            <li class="tri"></li>
                                            <li><img src="../../images/qrCode.png" /></li>
                                            <li>扫码拨号·刘师傅</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>-->
                            <div id="demo1"></div>
                        </div>
                        <!--待支付-->
                        <div class="tabItem dis_none">
                            <ul class="search clearfix">
                                <li class="pull-left"><input type="text" ms-duplex="@postData.keyword" placeholder="请输入订单编号/目的地进行搜索" /></li>
                                <li class="pull-left"><button class="btn-search" ms-on-click="@getSearchList('demo2','10','')">搜索</button></li>
                                <li class="pull-right"><a href="./publishOrder.html"><button class="btn-publish">发布货单</button></a></li>
                            </ul>
                            <!--待支付-->
                            <div class="itemDetail" ms-for="el in @DZFList" ms-if="el.type == '10'" ms-attr="{ id : 'active_' + el.goods_id }" ms-mouseover="@setActive('active_'+el.goods_id)" ms-mouseout="@removeActive('active_'+el.goods_id)">
                                <ul class="itemTitle clearfix">
                                    <li class="pull-left">订单编号<span class="ml4 mr4">:</span><span ms-text="el.goods_number"></span></li>
                                </ul>
                                <div class="itemDes clearfix">
                                    <div class="des_left pull-left clearfix">
                                        <img ms-attr="{ src : el.goods_images }"  class="pull-left" width="113px" height="99px" alt=""></li>
                                        <div class="description pull-left">
                                            <ul>
                                                <li ms-on-click="@checkDetail(el.goods_id)"><span ms-text="el.start_address.city"></span><span class="ml8" ms-text="el.start_address.area"></span> → <span ms-text="el.end_address.city"></span><span class="ml8" ms-text="el.end_address.area"></span><img ms-if="el.expedited == '10'" class="ml4" src="../../images/urgent.png" /></li>
                                                <li><span ms-text="el.car_length"></span>/<span ms-text="el.car_model"></span>/<span ms-text="el.weight"></span>吨/<span ms-text="el.volume"></span>方</li>
                                                <li><span ms-text="el.goods_type"></span>/<span ms-text="el._type"></span></li>
                                                <li>待付金额<span class="ml4 mr4">:</span><span ms-text="el.money"></span>元</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="des_right pull-right">
                                        <ul class="operateItem">
                                            <li><a ms-attr="{ href : './payPublishOrder.html?goods_id=' + el.goods_id }"><button>立即付款</button></a></li>
                                            <li class="color-999 mt10"><a ms-attr="{ href : './editOrder.html?goods_id=' + el.goods_id }">修改货单</a></li>
                                            <li class="color-orange mt10" ms-on-click="@deleteOrder(el.goods_id,'demo2','10','')">删除货单 </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div id="demo2"></div>
                        </div>
                        <!--待接单-->
                        <div class="tabItem dis_none">
                            <ul class="search clearfix">
                                <li class="pull-left"><input type="text" ms-duplex="@postData.keyword" placeholder="请输入订单编号/目的地进行搜索" /></li>
                                <li class="pull-left"><button class="btn-search" ms-on-click="@getSearchList('demo3','20','')">搜索</button></li>
                                <li class="pull-right"><a href="./publishOrder.html"><button class="btn-publish">发布货单</button></a></li>
                            </ul>
                            <!--待接单(货物运输)-->
                            <div class="itemDetail" ms-for="el in @DJDList" ms-if="el.type == '10'" ms-attr="{ id : 'active_' + el.goods_id }" ms-mouseover="@setActive('active_'+el.goods_id)" ms-mouseout="@removeActive('active_'+el.goods_id)">
                                <ul class="itemTitle clearfix">
                                    <li class="pull-left">订单编号<span class="ml4 mr4">:</span><span ms-text="el.goods_number"></span></li>
                                </ul>
                                <div class="itemDes clearfix">
                                    <div class="des_left pull-left clearfix">
                                        <img ms-attr="{ src : el.goods_images }"  class="pull-left" width="113px" height="99px" alt=""></li>
                                        <div class="description pull-left">
                                            <ul>
                                                <li ms-on-click="@checkDetail(el.goods_id)"><span ms-text="el.start_address.city"></span><span class="ml8" ms-text="el.start_address.area"></span> → <span ms-text="el.end_address.city"></span><span class="ml8" ms-text="el.end_address.area"></span><img ms-if="el.expedited == '10'" class="ml4" src="../../images/urgent.png" /></li>
                                                <li><span ms-text="el.car_length"></span>/<span ms-text="el.car_model"></span>/<span ms-text="el.weight"></span>/<span ms-text="el.volume"></span>方</li>
                                                <li><span ms-text="el.goods_type"></span>/<span ms-text="el._type"></span></li>
                                                <li>待付金额<span class="ml4 mr4">:</span><span ms-text="el.money"></span>元</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="des_right pull-right">
                                        <ul class="operateItem">
                                            <li style="margin-top:23px"><button ms-on-click="@orderCancel(el.goods_id)">取消货单</button></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--待接单(渣土运输)-->
                            <div class="itemDetail muckItem dis_none">
                                <ul class="itemTitle clearfix">
                                    <li class="pull-left">订单编号<span class="ml4 mr4">:</span>1451234564</li>
                                </ul>
                                <div class="itemDes clearfix">
                                    <div class="des_left pull-left clearfix">
                                        <div class="description pull-left">
                                            <ul>
                                                <li>成都 武侯区<button>渣</button><button class="ml10">限</button></li>
                                                <li>渣土运输/30辆/日结/45天</li>
                                                <li class="mt15">已报名车辆15辆</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="des_right pull-right">
                                        <ul class="operateItem">
                                            <li class="signDetail"><button ms-on-click="@muckSignDetail">报名详情</button></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="model">
                                    <div class="qrCodeContent">
                                        <ul class="code">
                                            <!-- <li><img src="../../images/qrCode.png" width="62" height="62" /></li>-->
                                            <li class="tri"></li>
                                            <li><img src="../../images/qrCode.png" /></li>
                                            <li>扫码拨号·刘师傅</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div id="demo3"></div>
                        </div>
                        <!--待装货-->
                        <div class="tabItem dis_none">
                            <ul class="search clearfix">
                                <li class="pull-left"><input type="text" ms-duplex="@postData.keyword" placeholder="请输入订单编号/目的地进行搜索" /></li>
                                <li class="pull-left"><button class="btn-search" ms-on-click="@getSearchList('demo4','40','10')">搜索</button></li>
                                <li class="pull-right"><a href="./publishOrder.html"><button class="btn-publish">发布货单</button></a></li>
                            </ul>
                            <!--待装货状态-->
                            <div class="itemDetail" ms-for="el in @DZHList" ms-if="el.type == '10'" ms-attr="{ id : 'active_' + el.goods_id }" ms-mouseover="@setActive('active_'+el.goods_id)" ms-mouseout="@removeActive('active_'+el.goods_id)">
                                <ul class="itemTitle clearfix">
                                    <li class="pull-left">订单编号<span class="ml4 mr4">:</span><span ms-text="el.order_number"></span></li>
                                    <li class="phone pull-right" ms-mouseover="@showModel('active_'+el.goods_id)" ms-mouseout="@hideModel('active_'+el.goods_id)" ><img src="../../images/phoneIcon.png" />联系电话</li>
                                </ul>
                                <div class="itemDes clearfix">
                                    <div class="des_left pull-left clearfix">
                                        <img  ms-attr="{ src : el.goods_images }" class="pull-left" width="113px" height="99px" alt=""></li>
                                        <div class="description pull-left">
                                            <ul>
                                                <li ms-on-click="@checkDetail(el.goods_id)"><span ms-text="el.start_address.city"></span><span class="ml8" ms-text="el.start_address.area"></span> → <span ms-text="el.end_address.city"></span><span class="ml8" ms-text="el.end_address.area"></span><img ms-if="el.expedited == '10'" class="ml4" src="../../images/urgent.png" /></li>
                                                <li><span ms-text="el.car_length"></span>/<span ms-text="el.car_model"></span>/<span ms-text="el.weight"></span>吨/<span ms-text="el.volume"></span>方</li>
                                                <li><span ms-text="el.goods_type"></span>/<span ms-text="el._type"></span></li>
                                                <li>待付金额<span class="ml4 mr4">:</span><span ms-text="el.money"></span>元</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="des_right pull-right">
                                        <ul class="operateItem">
                                            <li><button ms-on-click="@confirmLoad(el.order_id)">确认装货</button></li>
                                            <li class="color-999 mt10" ms-on-click="@closeOrder(el.order_id)">取消订单</li>
                                            <li class="color-999 mt10" ms-on-click="@checkLine">查看运输</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="model">
                                    <div class="qrCodeContent">
                                        <ul class="code">
                                            <li class="tri"></li>
                                            <li><img src="../../images/qrCode.png" /></li>
                                            <li>扫码拨号·<span ms-text="el.name"></span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div id="demo4"></div>
                        </div>
                        <!--运输中-->
                        <div class="tabItem dis_none">
                            <ul class="search clearfix">
                                <li class="pull-left"><input type="text" ms-duplex="@postData.keyword" placeholder="请输入订单编号/目的地进行搜索" /></li>
                                <li class="pull-left"><button class="btn-search" ms-on-click="@getSearchList('demo5','40','20')">搜索</button></li>
                                <li class="pull-right"><a href="./publishOrder.html"><button class="btn-publish">发布货单</button></a></li>
                            </ul>
                            <!--运输中(渣土运输)-->
                            <div class="itemDetail muckItem dis_none">
                                <ul class="itemTitle clearfix">
                                    <li class="pull-left">订单编号<span class="ml4 mr4">:</span>1451234564</li>
                                </ul>
                                <div class="itemDes clearfix">
                                    <div class="des_left pull-left clearfix">
                                        <div class="description pull-left">
                                            <ul>
                                                <li  ms-on-click="@checkMuckDetail">成都 武侯区<button>渣</button><button class="ml10">限</button></li>
                                                <li>渣土运输/30辆/日结/45天</li>
                                                <li class="mt15">已报名车辆15辆</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="des_right pull-right">
                                        <ul class="operateItem">
                                            <li class="signDetail"><button ms-on-click="@transportReport">运输报表</button></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="model">
                                    <div class="qrCodeContent">
                                        <ul class="code">
                                            <!-- <li><img src="../../images/qrCode.png" width="62" height="62" /></li>-->
                                            <li class="tri"></li>
                                            <li><img src="../../images/qrCode.png" /></li>
                                            <li>扫码拨号·刘师傅</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--运输中(已装货)-->
                            <div class="itemDetail" ms-for="el in @YSZList" ms-if="el.type == '10'" ms-attr="{ id : 'active_' + el.goods_id }" ms-mouseover="@setActive('active_'+el.goods_id)" ms-mouseout="@removeActive('active_'+el.goods_id)">
                                <ul class="itemTitle clearfix">
                                    <li class="pull-left">订单编号<span class="ml4 mr4">:</span><span ms-text="el.order_number"></span></li>
                                    <li class="phone pull-right" ms-mouseover="@showModel('active_'+el.goods_id)" ms-mouseout="@hideModel('active_'+el.goods_id)" ><img src="../../images/phoneIcon.png" />联系电话</li>
                                </ul>
                                <div class="itemDes clearfix">
                                    <div class="des_left pull-left clearfix">
                                        <img ms-attr="{ src : el.goods_images }" src="../../images/fruit.png" class="pull-left" width="113px" height="99px" alt=""></li>
                                        <div class="description pull-left">
                                            <ul>
                                                <li ms-on-click="@checkDetail(el.goods_id)"><span ms-text="el.start_address.city"></span><span class="ml8" ms-text="el.start_address.area"></span> → <span ms-text="el.end_address.city"></span><span class="ml8" ms-text="el.end_address.area"></span><img ms-if="el.expedited == '10'" class="ml4" src="../../images/urgent.png" /></li>
                                                <li><span ms-text="el.car_length"></span>/<span ms-text="el.car_model"></span>/<span ms-text="el.weight"></span>吨/<span ms-text="el.volume"></span>方</li>
                                                <li><span ms-text="el.goods_type"></span>/<span ms-text="el._type"></span></li>
                                                <li>待付金额<span class="ml4 mr4">:</span><span ms-text="el.money"></span>元</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="des_right pull-right">
                                        <ul class="operateItem">
                                            <li class="color-999 mt50 mr24" ms-on-click="@checkLine(el.goods_id)">查看运输</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="model">
                                    <div class="qrCodeContent">
                                        <ul class="code">
                                            <li class="tri"></li>
                                            <li><img src="../../images/qrCode.png" /></li>
                                            <li>扫码拨号·<span ms-text="el.name"></span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div id="demo5"></div>
                        </div>
                        <!--待签收-->
                        <div class="tabItem dis_none">
                            <ul class="search clearfix">
                                <li class="pull-left"><input type="text" ms-duplex="@postData.keyword" placeholder="请输入订单编号/目的地进行搜索" /></li>
                                <li class="pull-left"><button class="btn-search" ms-on-click="@getSearchList('demo6','40','40')">搜索</button></li>
                                <li class="pull-right"><a href="./publishOrder.html"><button class="btn-publish">发布货单</button></a></li>
                            </ul>
                            <!--待收货-->
                            <div class="itemDetail" ms-for="el in @DQSList" ms-if="el.type == '10'" ms-attr="{ id : 'active_' + el.goods_id }" ms-mouseover="@setActive('active_'+el.goods_id)" ms-mouseout="@removeActive('active_'+el.goods_id)">
                                <ul class="itemTitle clearfix">
                                    <li class="pull-left">订单编号<span class="ml4 mr4">:</span><span ms-text="el.order_number"></span></li>
                                    <li class="phone pull-right" ms-mouseover="@showModel('active_'+el.goods_id)" ms-mouseout="@hideModel('active_'+el.goods_id)" ><img src="../../images/phoneIcon.png" />联系电话</li>
                                </ul>
                                <div class="itemDes clearfix">
                                    <div class="des_left pull-left clearfix">
                                        <img ms-attr="{ src : el.goods_images }" src="../../images/fruit.png" class="pull-left" width="113px" height="99px" alt=""></li>
                                        <div class="description pull-left">
                                            <ul>
                                                <li ms-on-click="@checkDetail(el.goods_id)"><span ms-text="el.start_address.city"></span><span class="ml8" ms-text="el.start_address.area"></span> → <span ms-text="el.end_address.city"></span><span class="ml8" ms-text="el.end_address.area"></span><img ms-if="el.expedited == '10'" class="ml4" src="../../images/urgent.png" /></li>
                                                <li><span ms-text="el.car_length"></span>/<span ms-text="el.car_model"></span>/<span ms-text="el.weight"></span>吨/<span ms-text="el.volume"></span>方</li>
                                                <li><span ms-text="el.goods_type"></span>/<span ms-text="el._type"></span></li>
                                                <li>待付金额<span class="ml4 mr4">:</span><span ms-text="el.money"></span>元</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="des_right pull-right">
                                        <ul class="operateItem">
                                            <li><button ms-on-click="@confirmReceipt(el.order_id)">确认收货</button></li>
                                            <li class="color-999 mt10" ms-on-click="@checkLine(el.goods_id)">查看运输</li>
                                            <li class="color-999 mt10" ms-on-click="@orderState(el.order_id)">投&emsp;&emsp;诉</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="model">
                                    <div class="qrCodeContent">
                                        <ul class="code">
                                            <li class="tri"></li>
                                            <li><img src="../../images/qrCode.png" /></li>
                                            <li>扫码拨号·<span ms-text="el.name"></span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div id="demo6"></div>
                        </div>
                        <!--投诉/申诉-->
                        <div class="tabItem dis_none">
                            <ul class="search clearfix">
                                <li class="pull-left"><input type="text" ms-duplex="@postData.keyword" placeholder="请输入订单编号/目的地进行搜索" /></li>
                                <li class="pull-left"><button class="btn-search" ms-on-click="@getSearchList('demo7','40','60')">搜索</button></li>
                                <li class="pull-right"><a href="./publishOrder.html"><button class="btn-publish">发布货单</button></a></li>
                            </ul>
                            <!--货物运输完成(申诉中/取消申诉)-->
                          <!--  <div class="itemDetail" ms-for="el in @orderList" ms-if="el.type == '10'">
                                <ul class="itemTitle clearfix">
                                    <li class="pull-left">订单编号<span class="ml4 mr4">:</span><span ms-text="el.order_number"></span></li>
                                    <li class="phone pull-right"><img src="../../images/phoneIcon.png" />联系电话</li>
                                </ul>
                                <div class="itemDes clearfix">
                                    <div class="des_left pull-left clearfix">
                                        <img ms-attr="{ src : el.goods_images }" class="pull-left" width="113px" height="99px" alt=""></li>
                                        <div class="description pull-left">
                                            <ul>
                                                <li  ms-on-click="@checkDetail(el.goods_id)"><span ms-text="el.start_address.city"></span><span class="ml8" ms-text="el.start_address.area"></span> → <span ms-text="el.end_address.city"></span><span class="ml8" ms-text="el.end_address.area"></span><img ms-if="el.expedited == 'yes'" class="ml4" src="../../images/urgent.png" /></li>
                                                <li><span ms-text="el.car_length"></span>米/<span ms-text="el.car_model"></span>吨/<span ms-text="el.volume"></span>方</li>
                                                <li><span ms-text="el.goods_type"></span>/<span ms-text="el._type"></span></li>
                                                <li>待付金额<span class="ml4 mr4">:</span><span ms-text="el.money"></span>元</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="des_right pull-right">
                                        <ul class="operateItem">
                                            <li class="color-999 mt40 mr24" ms-on-click="@orderStating">申&nbsp;&nbsp;诉&nbsp;&nbsp;中</li>
                                            <li class="color-999 mt20 mr24">取消申诉</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="model">
                                    <div class="qrCodeContent">
                                        <ul class="code">
                                            &lt;!&ndash; <li><img src="../../images/qrCode.png" width="62" height="62" /></li>&ndash;&gt;
                                            <li class="tri"></li>
                                            <li><img src="../../images/qrCode.png" /></li>
                                            <li>扫码拨号·刘师傅</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>-->
                            <!--货物运输完成(投诉中/取消投诉)-->
                            <div class="itemDetail" ms-for="el in @TSList" ms-if="el.type == '10'" ms-attr="{ id : 'active_' + el.goods_id }" ms-mouseover="@setActive('active_'+el.goods_id)" ms-mouseout="@removeActive('active_'+el.goods_id)">
                                <ul class="itemTitle clearfix">
                                    <li class="pull-left">订单编号<span class="ml4 mr4">:</span><span ms-text="el.order_number"></span></li>
                                    <li class="phone pull-right" ms-mouseover="@showModel('active_'+el.goods_id)" ms-mouseout="@hideModel('active_'+el.goods_id)" ><img src="../../images/phoneIcon.png" />联系电话</li>
                                </ul>
                                <div class="itemDes clearfix">
                                    <div class="des_left pull-left clearfix">
                                        <img ms-attr="{ src : el.goods_images }"  class="pull-left" width="113px" height="99px" alt=""></li>
                                        <div class="description pull-left">
                                            <ul>
                                                <li ms-on-click="@checkDetail(el.goods_id)"><span ms-text="el.start_address.city"></span><span class="ml8" ms-text="el.start_address.area"></span> → <span ms-text="el.end_address.city"></span><span class="ml8" ms-text="el.end_address.area"></span><img ms-if="el.expedited == 'yes'" class="ml4" src="../../images/urgent.png" /></li>
                                                <li><span ms-text="el.car_length"></span>/<span ms-text="el.car_model"></span>/<span ms-text="el.weight"></span>吨/<span ms-text="el.volume"></span>方</li>
                                                <li><span ms-text="el.goods_type"></span>/<span ms-text="el._type"></span></li>
                                                <li>待付金额<span class="ml4 mr4">:</span><span ms-text="el.money"></span>元</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="des_right pull-right">
                                        <ul class="operateItem">
                                            <li class="color-999 mt40 mr24" ms-if="el.status == '10'" ms-on-click="@orderComplain(el.order_id)">投&nbsp;&nbsp;诉&nbsp;&nbsp;中</li>
                                            <li class="color-999 mt40 mr24" ms-if="el.status == '20'" ms-on-click="@orderComplain(el.order_id)">处&nbsp;&nbsp;理&nbsp;&nbsp;中</li>
                                            <li class="color-999 mt40 mr24" ms-if="el.status == '30'" ms-on-click="@orderComplain(el.order_id)">处理完成</li>
                                            <li class="color-999 mt40 mr24" ms-if="el.status == '40'">已取消投诉</li>
                                            <li class="color-999 mt20 mr24" ms-if="el.status == '10'" ms-on-click="@orderComplain(el.order_id)">取消投诉</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="model">
                                    <div class="qrCodeContent">
                                        <ul class="code">
                                            <li class="tri"></li>
                                            <li><img src="../../images/qrCode.png" /></li>
                                            <li>扫码拨号·<span ms-text="el.name"></span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div id="demo7"></div>
                        </div>
                        <!--赔付/退款-->
                        <div class="tabItem dis_none">
                            <ul class="search clearfix">
                                <li class="pull-left"><input type="text" ms-duplex="@postData.keyword" placeholder="请输入订单编号/目的地进行搜索" /></li>
                                <li class="pull-left"><button class="btn-search" ms-on-click="@getSearchList('demo8','40','70')">搜索</button></li>
                                <li class="pull-right"><a href="./publishOrder.html"><button class="btn-publish">发布货单</button></a></li>
                            </ul>
                            <!--退款中-->
                            <div class="itemDetail" ms-for="el in @TKList" ms-if="el.type == '10'" ms-attr="{ id : 'active_' + el.goods_id }" ms-mouseover="@setActive('active_'+el.goods_id)" ms-mouseout="@removeActive('active_'+el.goods_id)">
                                <ul class="itemTitle clearfix">
                                    <li class="pull-left">订单编号<span class="ml4 mr4">:</span><span ms-text="el.order_number"></span></li>
                                    <li class="phone pull-right" ms-mouseover="@showModel('active_'+el.goods_id)" ms-mouseout="@hideModel('active_'+el.goods_id)" ><img src="../../images/phoneIcon.png" />联系电话</li>
                                </ul>
                                <div class="itemDes clearfix">
                                    <div class="des_left pull-left clearfix">
                                        <img ms-attr="{ src : el.goods_images }" src="../../images/fruit.png" class="pull-left" width="113px" height="99px" alt=""></li>
                                        <div class="description pull-left">
                                            <ul>
                                                <li ms-on-click="@checkDetail(el.goods_id)"><span ms-text="el.start_address.city"></span><span class="ml8" ms-text="el.start_address.area"></span> → <span ms-text="el.end_address.city"></span><span class="ml8" ms-text="el.end_address.area"></span><img ms-if="el.expedited == '10'" class="ml4" src="../../images/urgent.png" /></li>
                                                <li><span ms-text="el.car_length"></span>/<span ms-text="el.car_model"></span>/<span ms-text="el.weight"></span>吨/<span ms-text="el.volume"></span>方</li>
                                                <li><span ms-text="el.goods_type"></span>/<span ms-text="el._type"></span></li>
                                                <li>待付金额<span class="ml4 mr4">:</span><span ms-text="el.money"></span>元</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="des_right pull-right">
                                        <ul class="operateItem">
                                            <li class="color-999 mt50 mr24" ms-if="el.status=='10'" ms-on-click="@drawback">发起退款/赔付</li>
                                            <li class="color-999 mt50 mr24" ms-if="el.status=='20'" ms-on-click="@drawback">退款中</li>
                                            <li class="color-999 mt50 mr24" ms-if="el.status=='30'" ms-on-click="@drawback">处理完成</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="model">
                                    <div class="qrCodeContent">
                                        <ul class="code">
                                            <li class="tri"></li>
                                            <li><img src="../../images/qrCode.png" /></li>
                                            <li>扫码拨号·<span ms-text="el.name"></span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div id="demo8"></div>
                        </div>
                    </div>
                </div>
                <div class="pull-left order_right">
                    <div id="tabType">
                        <div class="headeLine"></div>
                        <ul class="tabType clearfix">
                           <li class="active">轻工业</li>
                           <li>重工业</li>
                           <li>农畜牧业</li>
                           <li>其他货物</li>
                        </ul>
                   </div>
                    <div class="countItem">
                        <div class="countTitle"><span ms-text="@city"></span>在线车辆</div>
                        <div class="dis_none" id="map"></div>
                        <div class="countImg">
                            <div class="tips" ms-text="@onlineCar + '辆'"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="../../plugins/common/include.js"></script>
    <include src="../footer/footer.html"></include>
    <script src='../../plugins/jquery/jquery.min.js'></script>
    <script src='../../plugins/layui/dist/layui.js'></script>
    <script src='../../plugins/avalon/avalon.min.js'></script>
    <script src="../../common/js/kuCity.js"></script>
    <script src="../../data/data.js"></script>
    <script src="../../data/api.js"></script>
    <script src="../../data/return_data.js"></script>
    <script src='../../js/header.js'></script>
    <script src='../../js/order/order.js'></script>
</body>

</html>
