<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" href="../../plugins/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../plugins/layui/dist/css/layui.css">
    <link rel="stylesheet" href="../../common/css/reset.css">
    <link rel="stylesheet" href="../../common/css/common.css">
    <link rel="stylesheet" href="../../css/order/checkModel.css">
    <title>查看详情</title>
</head>
<body>
<div ms-controller='root'>
    <div class='titleLine'>
        <span class='line'></span>
        <span class='title'>查看详情</span>
    </div>
    <div class='orderDetail clearfix'>
        <div class="order_left pull-left">
            <div id="box">
                <div class="bigPic">
                    <a class="btnleft" href="javascript:;"></a>
                    <a class="btnright" href="javascript:;"></a>
                    <div class="info">
                        <table>
                            <tbody>
                                <tr>
                                    <td><div><img class="img1" src="../../images/img1.jpg" width="460px" height="420px" /></div></td>
                                    <td><div><img class="img2" src="../../images/img2.jpg" width="460px" height="420px" /></div></td>
                                    <td><div><img class="img3" src="../../images/img3.jpg" width="460px" height="420px" /></div></td>
                                    <td><div><img class="img4" src="../../images/img4.jpg" width="460px" height="420px" /></div></td>
                                    <td><div><img class="img5" src="../../images/img5.jpg" width="460px" height="420px" /></div></td>
                                    <td><div><img class="img6" src="../../images/img6.jpg" width="460px" height="420px" /></div></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="sPic">
                    <a class="btnleft" href="javascript:;"></a>
                    <a class="btnright" href="javascript:;"></a>
                    <div class="info">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="current"><div><a href="javascript:"><img class="img1" src="../../images/img1.jpg" width="110px" height="73px" /></a></div></td>
                                    <td><div><a href="javascript:"><img class="img2" src="../../images/img2.jpg" width="110px" height="73px" /></a></div></td>
                                    <td><div><a href="javascript:"><img class="img3" src="../../images/img3.jpg" width="110px" height="73px" /></a></div></td>
                                    <td><div><a href="javascript:"><img class="img4" src="../../images/img4.jpg" width="110px" height="73px" /></a></div></td>
                                    <td><div><a href="javascript:"><img class="img5" src="../../images/img5.jpg" width="110px" height="73px" /></a></div></td>
                                    <td><div><a href="javascript:"><img class="img6" src="../../images/img6.jpg" width="110px" height="73px" /></a></div></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="order_right itemDetail pull-left">
            <ul class="clearfix address">
                <li class="pull-left">装货地址<span class="ml6 mr6">:</span></li>
                <li class="pull-left"><label ms-text="@startAddress.province"></label><label ms-text="@startAddress.city"></label><label ms-text="@startAddress.area"></label></li>
            </ul>
            <ul class="clearfix">
                <li class="pull-left">详细地址<span class="ml6 mr6">:</span></li>
                <li class="pull-left"><input type="text" ms-duplex="@startAddress.address" class="longerInput" /></li>
            </ul>
            <ul class="clearfix address">
                <li class="pull-left">卸货地址<span class="ml6 mr6">:</span></li>
                <li class="pull-left"><label ms-text="@endAddress.province"></label><label ms-text="@endAddress.city"></label><label ms-text="@endAddress.area"></label></li>
            </ul>
            <ul class="clearfix">
                <li class="pull-left">详细地址<span class="ml6 mr6">:</span></li>
                <li class="pull-left"><input type="text" ms-duplex="@endAddress.address" class="longerInput" /></li>
            </ul>
            <div class="itemMore clearfix">
                <ul class="clearfix pull-left">
                    <li class="pull-left">所需车型<span class="ml6 mr6">:</span></li>
                    <li class="pull-left"><span ms-text="@goodsInfo.car_length"></span>/<span ms-text="@goodsInfo.car_model"></span></li>
                </ul>
                <ul class="clearfix pull-left">
                    <li class="pull-left">货物重量<span class="ml6 mr6">:</span></li>
                    <li class="pull-left"><span ms-text="@goodsInfo.weight"></span>吨 <span ms-text="@goodsInfo.volume"></span>m³</li>
                </ul>
            </div>
            <div class="itemMore clearfix">
                <ul class="clearfix pull-left">
                    <li class="pull-left">货物类型<span class="ml6 mr6">:</span></li>
                    <li class="pull-left" ms-text="@goodsInfo.goods_type"></li>
                </ul>
                <ul class="clearfix pull-left">
                    <li class="pull-left">是否加急<span class="ml6 mr6">:</span></li>
                    <li class="pull-left" ms-text="@goodsInfo.expedited == 'yes'?'是':'否' ">否</li>
                </ul>
            </div>
            <ul class="clearfix">
                <li class="pull-left">购买运费险<span class="ml6 mr6">:</span></li>
                <li class="pull-left"></li>
            </ul>
            <ul class="clearfix">
                <li class="pull-left">装货时间<span class="ml6 mr6">:</span></li>
                <li class="pull-left" ms-text="@goodsInfo.loadingTime">2019-09-23 0:00 - 24:00</li>
            </ul>
            <ul class="clearfix">
                <li class="pull-left">备注信息<span class="ml6 mr6">:</span></li>
                <li class="pull-left">
                    <textarea ms-duplex="@goodsInfo.remark"></textarea>
                </li>
            </ul>
            <div class="itemMore clearfix">
                <ul class="clearfix pull-left">
                    <li class="pull-left">运费金额<span class="ml6 mr6">:</span></li>
                    <li class="pull-left fontw"><span ms-text="@goodsInfo.money"></span>元</li>
                </ul>
                <ul class="clearfix pull-left">
                    <li class="pull-left">保险金额<span class="ml6 mr6">:</span></li>
                    <li class="pull-left fontw"><span ms-text="@goodsInfo.safety_money"></span>元</li>
                </ul>
            </div>
            <ul class="clearfix">
                <li class="pull-left">共计金额<span class="ml6 mr6">:</span></li>
                <li class="pull-left font22 fontw"><span ms-text="@goodsInfo.all_money"></span>元</li>
            </ul>
        </div>
    </div>
</div>
<script src='../../plugins/jquery/jquery.min.js'></script>
<script src='../../plugins/layui/dist/layui.js'></script>
<script src='../../plugins/avalon/avalon.min.js'></script>
<script src="../../data/data.js"></script>
<script src="../../data/api.js"></script>
<script src="../../data/return_data.js"></script>
<script src="../../js/order/orderDetail.js"></script>
<script src="../../js/order/goodsBanner.js"></script>
</body>
</html>