.cooperateDetail {
  margin-top: 186px;
}
.cooperateDetail .tabs,
.cooperateDetail .tabContent {
  float: left;
}
.tabs {
  width: 245px;
  height: 385px;
  background-color: #fffaf6;
  border-top: solid 1px #ffd1ad;
  border-right: solid 1px #ffd1ad;
}
.tabs li {
  height: 80px;
  line-height: 80px;
  text-align: center;
  cursor: pointer;
}
.tabs li:not(:last-child) {
  border-bottom: solid 1px #eaeaea;
}
.tabs li.active {
  color: #f57619;
}
.tabContent {
  width: 894px;
  background-color: #fffaf6;
  margin-left: 56px;
  font-family: MicrosoftYaHei;
}
.tabContent .tabItem {
  height: 813px;
  box-shadow: 0px 2px 0px 0px rgba(117, 113, 110, 0.32);
}
.tabTitle {
  margin-top: 19px;
  font-size: 20px;
  font-weight: bold;
}
.tabTitle .line {
  display: inline-block;
  width: 6px;
  height: 37px;
  background-color: #f57619;
  vertical-align: middle;
}
.tabTitle span {
  display: inline-block;
  width: 846px;
  border-bottom: 1px solid #999;
  padding-left: 8px;
  margin-left: 13px;
  padding-bottom: 20px;
}
.formItem {
  margin-top: 30px;
}
.formItem li {
  float: left;
  line-height: 33px;
}
.formItem li:first-child {
  width: 90px;
  text-align: right;
}
.formItem li:nth-child(2) {
  margin: 0 8px;
}
.formItem li .longInput {
  width: 287px;
  height: 35px;
  padding-left: 10px;
  border: 0px;
  outline: none;
  border: 1px solid #999;
}
.formItem li .shortInput {
  width: 124px;
  height: 32px;
  padding-left: 10px;
}
.formItem li span {
  color: #f51919;
}
.business,
.logistics,
.agent,
.ads {
  width: 720px;
  height: 362px;
  background-color: #ffffff;
  border: solid 1px #999999;
}
.countWord {
  position: relative;
}
.countWord .textarea_counter {
  position: absolute;
  right: 9px;
  bottom: 8px;
  color: #999;
}
.countWord .num {
  color: #999;
}
.btn-apply {
  width: 137px;
  height: 43px;
  background-color: #ffffff;
  border: 0px;
  border: solid 1px #f57619;
  color: #f57619;
  margin-top: 76px;
  margin-left: 110px;
}
.unit {
  position: absolute;
  right: 6px;
  bottom: -4px;
  vertical-align: middle;
  line-height: 35px;
}
#distpicker .form-control {
  width: 129px;
  height: 35px;
  background-color: #ffffff;
  border: 0px;
  outline: none;
  border: solid 1px #999999;
  border-radius: 0px;
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
  transition: 0;
}
#distpicker .form-group:nth-child(2) {
  margin-left: 30px;
}
.btn-logistic{
  margin-top: 32px;
}