<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <link rel="stylesheet" href="../../plugins/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../plugins/layui/dist/css/layui.css">
    <link rel="stylesheet" type="text/css" href="../../common/css/kuCity.css"/>
    <link rel="stylesheet" href="../../common/css/reset.css">
    <link rel="stylesheet" href="../../common/css/common.css">
    <link rel="stylesheet" href="../../css/header.css">
    <link rel="stylesheet" href="../../css/footer.css">
    <link rel="stylesheet" href="../../css/logistics/rentOrder.css">
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=3.0&ak=n6K0xWCoAKyRgR0cYt6uVaC1EgAVAGFR"></script>
    <title>发布订单</title>
</head>

<body>
<div class='header fixHeader' ms-controller='header'>
    <header>
        <!-- 版心 -->
        <div class='content_box'>
            <!-- 顶部的引导导航条 -->
            <div class='row topBar'>
                <div class='col-md-6 col-sm-6'>
                    <div class='row'>
                        <div class='col-sm-5'>欢迎登录纵运服务平台</div>
                        <div class='col-sm-7 citySelect'>成都市|
                            <input class="address" value="切换">
                        </div>
                    </div>
                    <div id="allmap" class="dis_none"></div>
                </div>
                <div class='col-md-6 col-sm-6'>
                    <div class='row  text-right'>
                        <div class='col-sm-2 col-sm-offset-6 informItem'><a href="../personal/personal.html"><img src="../../images/inform.svg" />消息<span class="newsCount" ms-if="@newsCount" ms-text="@newsCount"></span></a></div>
                        <div class='col-md-4 col-sm-4 userInfo text-left'>
                            <ul class='clearfix'>
                                <li class="userMsg dis_none ml10"><img width="32px" height="32px" id="avatar"/></li>
                                <li class="userMsg dis_none"><a href="../personal/personal.html" ms-text="@userInfo.username"></a><span class="ml8" ms-on-click="@loginOut">退出</span></li>
                                <li class="userLogin">您好,请<a href='../../login.html'>登录</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- 导航条 -->
    <div class='navBar  fixNavBar'>
        <!-- 版心 -->
        <div class='content_box'>
            <div class="row">
                <div class="col-md-3 col-sm-3 bg-fff">
                    <div class='row'>
                        <div class='col-sm-9 text-left'><img src="../../images/logo.png" width='202px' height='80px' alt="logo"></div>
                    </div>
                </div>
                <div class="col-md-9 col-sm-9 pl0">
                    <ul class="layui-nav">
                        <li class="layui-nav-item" data-src='../../index.html'><a href="javascript:;">首页</a></li>
                        <li class="layui-nav-item" data-src='../../views/carHall/carHall.html'><a href="javascript:;">汽车大厅</a></li>
                        <li class="layui-nav-item" ms-on-click="@limitFinancial" data-src='javascript:;'><a href="javascript:;">金融中心</a></li>
                        <li class="layui-nav-item merchant" data-src='javascript:;' ms-on-click="@setDisable('MERCHANT')">
                            <a href="javascript:;" data-src="javascript:;">运输管理</a>
                            <dl class="layui-nav-child">
                                <dd><a href="../order/order.html?state=10" style="color:#f57619!important">渣土运输</a></dd>
                                <dd><a href="../order/order.html?state=20" style="color:#f57619!important">产业运输</a></dd>
                            </dl>
                        </li>

                        <li class="layui-nav-item layui-this logistics" data-src='../../views/logistics/logistics.html' ms-on-click="@setDisable('LOGISTICS')"><a href="javascript:;">物流公司</a></li>
                        <li class="layui-nav-item" data-src='../../views/cooperate/cooperate.html'><a  href="javascript:;">我要合作</a></li>
                        <li class="layui-nav-item" data-src='javascript:;'><a href="javascript:;">APP下载</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class='publishOrder bg-gray' ms-controller='root'>
    <div class='content_box'>
        <!-- 加盟广告 -->
        <div class='ads'>
            <img src="../../images/ads.png" width='100%' height='144px' alt="加盟广告">
        </div>
        <div class='row breadNav'>
            <div class='col-md-12 col-sm-12 ml0'>
                <span>当前位置<span style='margin:0 8px;'>:</span></span>
                <span class="layui-breadcrumb" lay-separator=">">
                        <a href="../../index.html">首页</a>
                        <a href="./logistics.html">物流公司</a>
                        <a href='javascript:;'><cite>发布订单</cite></a>
                    </span>
            </div>
        </div>
        <div class='publishSteps clearfix'>
            <ul>
                <li><img src="../../images/step_one.png" alt="填写订单资料"></li>
                <li>填写租赁信息</li>
            </ul>
            <div class='stepLine'></div>
            <ul>
                <li><img src="../../images/step_two.png" alt="选择运输保单"></li>
                <li>选择人员/车辆数量</li>
            </ul>
            <div class='stepLine'></div>
            <ul>
                <li><img src="../../images/step_three.png" alt="支付运费"></li>
                <li>支付订单金额</li>
            </ul>
            <div class='stepLine'></div>
            <ul>
                <li><img src="../../images/step_three.png" alt="发布订单"></li>
                <li>发布订单</li>
            </ul>
        </div>
        <div class='formContent'>
            <div class='titleLine'>
                <span class='line'></span>
                <span class='title fontw'>填写租赁信息</span>
            </div>
            <div class='form'>
                <div class="addressItem">
                    <form class="form-inline">
                        <div id='distpicker' data-toggle="distpicker">
                            <div class="form-group"><span>装货地址</span><span class="ml4 mr10">:</span></div>
                            <div class="form-group">
                                <select class="form-control" data-province="请选择省" ms-duplex="@startAddress.province"  id="province1"></select>
                                <span>省/直辖市</span>
                            </div>
                            <div class="form-group">
                                <select class="form-control" data-city="请选择市" ms-duplex="@startAddress.city" id="city1"></select>
                                <span>市</span>
                            </div>
                            <div class="form-group">
                                <select class="form-control" data-district="请选择区" ms-duplex="@startAddress.area" id="district1"></select>
                                <span>区县</span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="addressItem">
                    <form class="form-inline">
                        <div id='distpicker_two' data-toggle="distpicker">
                            <div class="form-group"><span>卸货地址</span><span class="ml4 mr10">:</span></div>
                            <div class="form-group">
                                <select class="form-control" data-province="请选择省" ms-duplex="@endAddress.province"  id="province1_two"></select>
                                <span>省/直辖市</span>
                            </div>
                            <div class="form-group">
                                <select class="form-control" data-city="请选择市" ms-duplex="@endAddress.city" id="city1_two"></select>
                                <span>市</span>
                            </div>
                            <div class="form-group">
                                <select class="form-control" data-district="请选择区" ms-duplex="@endAddress.area" id="district1_two"></select>
                                <span>区县</span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="formItem carItem">
                    <ul class="clearfix needCarItem">
                        <li>所需车型<span class="ml4 mr10">:</span></li>
                        <li>
                            <select>
                                <option value="">不限</option>
                                <option value="平板">平板</option>
                                <option value="高栏">高栏</option>
                                <option value="厢式">厢式</option>
                                <option value="集装箱">集装箱</option>
                                <option value="自卸">自卸</option>
                                <option value="冷藏">冷藏</option>
                                <option value="保温">保温</option>
                                <option value="高地板">高地板</option>
                                <option value="爬梯车">爬梯车</option>
                                <option value="飞翼车">飞翼车</option>
                            </select>
                            <label>类型</label>
                        </li>
                        <li>
                            <select>
                                <option value="">不限</option>
                                <option value="1.8m">1.8米</option>
                                <option value="2.7m">2.7米</option>
                                <option value="3.8m">3.8米</option>
                                <option value="4.2m">4.2米</option>
                                <option value="5.0m">5.0米</option>
                                <option value="6.2m">6.2米</option>
                                <option value="6.8m">6.8米</option>
                                <option value="7.7m">7.7米</option>
                                <option value="8.2m">8.2米</option>
                                <option value="8.7m">8.7米</option>
                                <option value="9.6m">9.6米</option>
                                <option value="11.7m">11.7米</option>
                                <option value="12.5m">12.5米</option>
                                <option value="13.0m">13.0米</option>
                                <option value="15.0m">15.0米</option>
                                <option value="16.0m">16.0米</option>
                                <option value="17.5m">17.5米</option>
                            </select>
                            <label>车长</label>
                        </li>
                        <li>
                            <input type="text" placeholder="所需数量" />
                            <label>辆</label>
                        </li>
                        <li>
                            <input type="text"  placeholder="每辆价格" />
                            <label>元/天</label>
                        </li>
                        <li class="font24 addItemOne" style="margin-top: -7px;cursor:pointer;">+</li>
                    </ul>
                </div>
                <div class="formItem driverItem">
                    <ul class="clearfix needDriverItem">
                        <li>所需司机<span class="ml4 mr10">:</span></li>
                        <li>
                            <select>
                                <option value="">不限</option>
                                <option value="A">A级</option>
                                <option value="B">B级</option>
                                <option value="C">C级</option>
                            </select>
                            <label>驾照</label>
                        </li>
                        <li>
                            <input type="text" placeholder="所需司机数量" />
                            <label>人&emsp;</label>
                        </li>
                        <li>
                            <input type="text"  placeholder="每辆价格" />
                            <label>元/天</label>
                        </li>
                        <li class="font24 addItemTwo" style="margin-top: -7px;cursor:pointer;">+</li>
                    </ul>
                </div>
                <div class="formItem">
                    <ul class="clearfix">
                        <li>运输距离<span class="ml4 mr10">:</span></li>
                        <li>
                            <input type="text" ms-duplex="@postData.distance" placeholder="大约运输里程" />
                            <label>km</label>
                        </li>
                    </ul>
                </div>
                <div class="formItem">
                    <ul class="clearfix">
                        <li>运输货物<span class="ml4 mr10">:</span></li>
                        <li>
                            <input type="text" ms-duplex="@postData.goods" class="longerInput" placeholder="如:木材，钢铁等" />
                        </li>
                    </ul>
                </div>
                <div class="formItem">
                    <ul class="clearfix">
                        <li>运输时间<span class="ml4 mr10">:</span></li>
                        <li>
                            <div class="layui-form">
                                <div class="layui-input-inline">
                                    <input type="text" ms-duplex="@postData.s_time" class="layui-input" id="test1" placeholder="年-月-日">
                                </div>
                            </div>
                        </li>
                        <span class="pull-left ml20">至</span>
                        <li style="margin-left: 20px">
                            <div class="layui-form">
                                <div class="layui-input-inline">
                                    <input type="text" ms-duplex="@postData.e_time" class="layui-input" id="test2" placeholder="年-月-日">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="formItem">
                    <ul class="clearfix">
                        <li>备注信息<span class="ml4 mr10">:</span></li>
                        <li>
                            <textarea ms-duplex="@postData.remark"></textarea>
                        </li>
                    </ul>
                </div>
                <div class="formItem contactPerson">
                    <ul class="clearfix">
                        <li>联系人<span class="ml4 mr10">:</span></li>
                        <li><input ms-duplex="@postData.contact" type="text" class="longerInput" placeholder="先生/女士" /></li>
                    </ul>
                </div>
                <div class="formItem contractPhone">
                    <ul class="clearfix">
                        <li>联系电话<span class="ml4 mr10">:</span></li>
                        <li><input ms-duplex="@postData.tell" type="text" class="longerInput" placeholder="请输入您的电话号码" /><label><button class="btn-code" ms-on-click="@getCheckCode">获取验证码</button></label></li>
                    </ul>
                </div>
                <div class="formItem checkCode">
                    <ul class="clearfix">
                        <li>填写验证码<span class="ml4 mr10">:</span></li>
                        <li><input ms-duplex="@postData.code" type="text" class="longerInput" placeholder="请输入6位数验证码" /></li>
                    </ul>
                </div>
                <ul class="buttons clearfix">
                    <li><button ms-on-click="@resetData">重置</button></li>
                    <li><button class="btn-next" ms-on-click="@publishOrder">发布订单</button></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script src='../../plugins/common/include.js'></script>
<include src='../../views/footer/footer.html'></include>
<script src='../../plugins/jquery/jquery.min.js'></script>
<script src='../../plugins/layui/dist/layui.js'></script>
<script src='../../plugins/avalon/avalon.min.js'></script>
<script src='../../plugins/distpicker/distpicker.data.js'></script>
<script src='../../plugins/distpicker/distpicker.js'></script>
<script src='../../plugins/distpicker/main.js'></script>
<script src='../../common/js/kuCity.js'></script>
<script src='../../js/header.js'></script>
<script src="../../data/api.js"></script>
<script src="../../data/data.js"></script>
<script src="../../data/return_data.js"></script>
<script src="../../js/logistics/rentOrder.js"></script>
</body>
</html>
