.showMsg {
  width: 100%;
  height: 209px;
  background-image: url('../../images/showBox.png');
  border: 1px solid #999;
}
.showMsg .showImg {
  padding-left: 40px;
  padding-top: 47px;
}
.cName {
  font-size: 26px;
  font-weight: bold;
  padding-top: 35px;
}
.cMsg {
  margin-top: 26px;
}
.cMsg ul li {
  float: left;
}
.cMsg ul li:nth-child(2) {
  margin: 0 8px;
}
.cMsg ul:not(:first-child) {
  margin-top: 10px;
}
.companyInfo {
  position: relative;
}
.bannerImg {
  width: 100%;
  overflow: hidden;
  margin-top: 106px;
}
.showMsg {
  position: absolute;
  left: 0px;
  top: -134px;
}
/*轻工业*/
.tabType{
  margin-top: 135px;
}
.tabType li{
 float: left;
  width: 278px;
  height: 40px;
  border: 1px solid #f57619;
  line-height: 40px;
  text-align: center;
  color: #f57619;
  cursor: pointer;
}
.tabType li:first-child{
  border-radius: 6px 0px 0px 6px;
}
.tabType li:last-child{
  border-radius: 0px 6px 6px 0px;
}
.tabType li:not(:first-child){
  margin-left: 2px;
}
.tabType li.active{
  background-color:#f57619;
  color: #fff;
}
.order{
  margin-top: 58px;
}
.tabTitle li{
  float: left;
  font-size: 24px;
  cursor: pointer;
}
.tabTitle li.active{
  color: #f57619;
}
.tabTitle li span{
  margin: 0 10px;
}
.search{
  margin-top: 20px;
}
.search li{
  float: left;
}
.search li input{
  width: 259px;
  height: 36px;
  border: solid 1px #999999;
  outline: none;
  border-right: 0px;
}
.search li button{
  color: #ffffff;
  border: 0px;
  outline: none;
  width: 98px;
  height: 36px;
  background-color: #f57619;
}
.itemDetail{
  width: 767px;
  height: 218px;
  background-color: #ffffff;
  border: 1px solid #999;
}
.itemTitle{
  height: 46px;
  background-color: #fffaf6;
  line-height: 46px;
  color: #f57619;
}
.itemTitle li{
  cursor: pointer;
}
.itemTitle li:first-child{
  padding-left: 16px;
}
.itemTitle li:nth-child(2){
  padding-right: 17px;
 }

.itemTitle li img{
  vertical-align: middle;
  margin-right: 8px;
}
.tabItem .itemDetail{
  margin-top: 22px;
}
.tabItem .itemDetail:first-child{
  margin-top: 30px;
}
.itemDetail{
  position: relative;
}
.itemDes{
  padding-top: 26px;
  padding-left: 16px;
  padding-right: 17px;
}
.description{
  margin-left: 25px;
}
.description ul li:first-child{
  font-size: 20px;
  cursor: pointer;
}
.description ul li:first-child.active{
  color: #f57619;
}
.description ul li{
  line-height: 25px;
}
.description ul li:nth-child(2){
  margin-top: 12px;
}
.operateItem{
  text-align: center;
  font-size: 14px;
}
.operateItem li{
  cursor: pointer;
}
.operateItem button{
  width: 106px;
  height: 32px;
  border: solid 1px #f57619;
  outline: none;
  color: #f57619;
}
.code{
  width: 127px;
  height: 141px;
  background-color: #ffffff;
  border: solid 1px #999999;
  font-size: 12px;
  text-align: center;
  position: relative;
}
.code .tri{
  width: 0;
  height: 0;
  border-width: 0 10px 10px;
  border-style: solid;
  border-color: transparent transparent #999;
  position: absolute;
  top: -11px;
  left: 54px;
}
.qrCodeContent{
  position: absolute;
  top: 45px;
  right: 17px;
  z-index:999;
}
.code .tri:after{
  content: "";
  position: absolute;
  top: 1px;
  left: -8px;
  border-width: 0 8px 8px;
  border-style: solid;
  border-color: transparent transparent #fff;
}
.model{
  width: 767px;
  height: 218px;
  background-color:#000;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index:2;
  opacity: 0.8;
  display: none;
}
#demo1,#demo2,#demo3,#demo4,#demo5,#demo6,#demo7,#demo8{
  width: 767px;
  height: 60px;
  line-height: 60px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.tabTitle{
  padding-bottom: 8px;
  border-bottom: solid 1px #999999;
}
.countItem{
  width: 309px;
  height: 303px;
  background-color: #ffffff;
  border: solid 1px #999999;
}
.countImg{
  width: 183px;
  height: 183px;
  border-radius:183px;
  background-color:#fffaf6;
  margin: 25px 57px 0px 69px;
  position: relative;
}
.itemTips{
  text-align: center;
  margin: 25px 57px 0px 69px;
  width: 183px;
  border-bottom: 1px solid #333;
}
.tipTxt{
  width: 160px;
  background-color:#fff;
  margin-left: 11px;
  margin-bottom: -9px;
  cursor: pointer;
}
.countImg img{
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: auto;
  cursor: pointer;
}
.tips{
  text-align: center;
  line-height: 183px;
  font-size: 44px;
  color: #999;
  font-weight: bold;
}
.countTitle{
  font-size: 22px;
  font-weight: bold;
  margin: 25px 0px 0px 31px;
}
.countItem:nth-child(2){
  margin-top: 78px;
}
/*渣土运输按钮*/
.description button{
  width: 22px;
  height: 22px;
  background-color: #f57619;
  border-radius: 4px;
  outline: none;
  border: 0px;
  font-size: 14px;
  color: #fff;
  line-height: 22px;
  text-align: center;
}
.description button:first-child{
  margin-left: 18px;
}
/* 渣土运输*/
.muckItem .itemDes{
  padding-top: 30px;
  padding-left: 18px;
  padding-right: 18px;
}
.muckItem .signDetail{
  margin-top: 19px;
}
.muckItem .description ul li:nth-child(2){
  margin-top: 20px;
}
.operateItem li a:hover,.operateItem li a:link,.operateItem li a:visited{
  color: #999;
}