.ads {
  padding-top: 177px;
}
footer{
  margin-top: 0px!important;
}
.breadNav {
  color: #333;
  margin-top: 38px;
}
.layui-breadcrumb > * {
  font-size: 16px;
}
.layui-breadcrumb a {
  color: #333 !important;
}
.layui-breadcrumb a cite {
  color: #333;
}
.layui-breadcrumb span[lay-separator] {
  color: #333;
  margin: 0 2px;
}
.breadNav a:hover,
.breadNav a:link,
.breadNav a:visited {
  color: #333 !important;
}
.publishSteps {
  width: 1167px;
  height: 146px;
  margin-top: 60px;
  background-color: #ffffff;
  margin-left: 16px;
  -moz-box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.1);
  padding-left: 86px;
}
.publishSteps > ul,
.publishSteps > div {
  float: left;
}
.publishSteps > ul {
  margin-top: 24px;
  width: 96px;
  text-align: center;
}
.publishSteps > ul li:last-child {
  margin-top: 10px;
}
.publishSteps .stepLine {
  width: 172px;
  height: 1px;
  background-color: #999;
  margin-top: 72px;
}
.titleLine {
  font-size: 26px;
  margin-top: 56px;
  margin-bottom: 37px;
}
.titleLine .line {
  display: inline-block;
  width: 6px;
  height: 24px;
  background-color: #f57619;
  vertical-align: middle;
}
.titleLine .title {
  margin-left: 11px;
}
/*表单信息*/
.form{
  background-color:#fff;
}
.address_detail{
  margin-top: 35px;
}
.address_detail li{
  float: left;
}
.address_detail li input{
  width: 324px;
  height: 23px;
  border: solid 1px #999999;
  outline: none;
}
.addressItem .form-group select{
  width: 120px;
  height: 24px;
  line-height: 24px;
  outline: none!important;
  padding: 0px;
}
.addressItem .form-group:not(:first-child) span{
  margin-left: 8px;
}
.addressItem .form-group:not(:first-child){
  margin-left: 30px;
}
.addressItem .form-group:nth-child(2){
  margin-left: 0px;
}
.addressItem  .form-inline{
  padding-top: 35px;
}
.addressAdd{
  font-size: 26px;
  cursor: pointer;
  vertical-align: middle;
}
label{
  font-weight: normal;
}
.formItem,.addressItem{
  padding-left: 37px;
}
.formItem ul li{
  float: left;
}
.formItem ul li input[type='radio']{
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin: 0px 0px 0px;
}
.formItem ul li select,.formItem ul li input[type='text']{
  width: 133px;
  height: 24px;
  border: solid 1px #999999;
  outline: none;
}
.formItem ul li input.longerInput{
  width: 183px;
}
.formItem ul li:not(:first-child){
  margin-left: 35px;
}
.formItem ul li:nth-child(2){
  margin-left: 0px;
}
.formItem .innerItem li{
  margin-left: 35px;
}
.formItem .innerItem li:nth-child(2){
  margin-left: 35px;
}
.formItem .innerItem li:first-child{
  margin-left: 81px;
}
.formItem ul li label{
  margin-left: 6px;
}
.formItem ul li textarea{
  width: 520px;
  height: 136px;
  border: solid 1px #999999;
}
.dateItem ul li .time{
  width: 210px;
}
.buttons{
  padding-left: 118px;
  margin-top: 70px;
  padding-bottom: 48px;
}
.buttons li{
  float: left;
}
.buttons li button{
  width: 135px;
  height: 44px;
  background-color: #f57619;
  outline: none;
  border: 0px;
  color: #fff;
  font-weight: bold;
}
.buttons li .btn-next{
  margin-left: 85px;
}
.formItem{
  margin-top: 29px;
}
.formContent{
  padding-bottom: 80px;
}
footer{
  margin-top: 0px;
}
.order-detail {
  margin-top: 27px;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  position: relative;
}
.order-detail .orderTitle {
  background-color: #fffaf6;
  height: 45px;
  line-height: 45px;
  font-size: 14px;
}
.order-detail .orderTitle ul:first-child {
  color: #f57619;
  padding-left: 16px;
}
.order-detail .orderTitle ul li {
  float: left;
}
.order-detail .orderTitle ul li span {
  margin: 0px 6px;
}
.order-detail .orderTitle ul:nth-child(2) li:first-child {
  margin-right: 43px;
  color: #f57619;
  cursor: pointer;
}
.orderContent {
  padding: 23px 18px 30px 15px;
  background-color:#fff;
}
.orderContent .orderDes {
  padding-left: 12px;
}
.orderContent .orderDes ul li {
  line-height: 27px;
  font-size: 14px;
}
.orderContent .orderDes ul li:first-child {
  margin-bottom: 10px;
  margin-top: 0px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.orderContent .orderDes ul li:first-child.active{
  color: #f57619;
}
.orderContent .orderDes ul li:first-child>span {
  margin-right: 8px;
}
.orderPrice{
  background-color:#fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  margin-top: 27px;
  padding:33px 0px 0px 43px;
}
.orderPrice .title{
  font-size: 22px;
  font-weight: bold;
}
.orderPrice ul li {
  float: left;
}
.orderPrice ul {
  margin-top: 30px;
}

.upload {
  position: relative;
}
.uploadimg {
  position: absolute;
  left: 2px;
  top: 1px;
  background-color: rgba(0, 0, 0, 0.2);
  display: inline-block;
  width: 82px;
  height: 82px;
  display: none;
}
.uploadimg img {
  margin-left: 24px;
  margin-top: -76px;
}

#test2 {
  opacity: 0;
  background-color: transparent;
  margin-left: -2px;
  margin-top: 1px;
  height: 96px;
  line-height: 54px;
}
input[type=file] {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
}
.payWay button{
  width: 116px;
  height: 38px;
  border: 0px;
  border: 1px solid #f57619;
  outlinie: none;
  outline: none;
  color: #f57619;
}
.payWay button.active{
  background-color:#f57619;
  color: #fff;
}
.payWay button.aliPay.active,.payWay button.bankCardPay.active{
  background-color:#1976f5;
  color: #fff;
}
.payWay button.weChatPay.active{
  background-color:#0bc10b;
  color: #fff;
}
.payWay button.aliPay{
  border: 1px solid #1976f5;
  color: #1976f5;
}
.payWay button.weChatPay{
  border: solid 1px #0bc10b;
  color: #0bc10b;
}
.payWay button.bankCardPay{
  border: solid 1px #1976f5;
  color: #1976f5;
}
.payWay button:not(:first-child){
  margin-left: 30px;
}
.btn-pay{
  padding-left: 80px;
}
.itemGray{
  width: 100%;
  height: 27px;
  background-color:#eaeaea;
  margin-top: 20px;
}
.orderDetail .itemGray{
  margin-top: 0px;
}
.imgItem{
  position: relative;
}
.imgTip{
  position: absolute;
  bottom: -18px;
  left: 76px;
}
.delItem{
  position: relative;
}
.del{
  position: absolute;
  top: -6px;
  right: -7px;
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 20px;
  background-color:#f51919;
  color: #fff;
  cursor: pointer;
}
.delAddress{
  width: 25px;
  margin-left: -18px;
  margin-top: -7px;
  cursor: pointer;
}
/*支付弹窗*/
/*支付平台*/
.payTitle{
  width: 100%;
  height: 84px;
  line-height: 84px;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  border-bottom: 1px solid #999;
}
.payContent{
  margin-top: 82px;
  margin-left: 301px;
}
.payMoney .buttons li:first-child{
  margin-left: 239px;
}
.payMoney .buttons{
  padding-left: 0px;
}
.payMoney .buttons button{
  width: 249px;
  height: 61px;
  line-height: 61px;
  text-align: center;
  background-color: #f57619;
  border-radius: 6px;
  color: #fff;
  border: 0px;
  outline: none;
}
.payMoney .buttons li:nth-child(2){
  margin-left: 121px;
}
.inputPwd li{
  float: left;
}
.inputPwd li input{
  width: 55px;
  height: 55px;
  background-color: #ffffff;
  border-radius: 6px;
  border: solid 1px #eaeaea;
  outline: none;
  line-height: 55px;
  text-align: center;
  font-size: 30px;
}
.inputPwd li:not(:first-child){
  margin-left: 40px;
}
.orderMoney{
  margin-top: 32px;
}
#pwd{
  opacity: 0;
}
.alieditContainer{
  position: relative;
}
.sixDigitPassword {
  position: absolute;
  left: -122px;
  top: 0;
  width: 1000px;
  height: 55px;
  color: #fff;
  font-size: 12px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-user-select: initial;
  z-index: 999;
  opacity:0;
  filter:alpha(opacity=0);
}
.sixDigitPassword-box {
  cursor:text;
  background: #fff;
  outline: none;
  position: relative;
  height: 55px;
  border: 1px solid #cccccc;
  border-radius: 2px;
}
.sixDigitPassword-box i {
  float: left;
  display: block;
  padding: 4px 0;
  width: 55px;
  height: 55px;
  border-left: 1px solid #cccccc;
}
.sixDigitPassword-box .active {
  background: url('../../images/password-blink.gif') no-repeat center center;
}
.sixDigitPassword-box b {
  display: block;
  width: 55px;
  height: 55px;
  overflow: hidden;
  visibility:hidden;
  background: url('../../images/passeord-dot.png') no-repeat;
  margin-top: 22px;
  margin-left: 23px;
}
.sixDigitPassword-box span {
  position: absolute;
  display: block;
  left: 0px;
  top: 0px;
  height: 53px;
  border: 1px solid rgba(82, 168, 236, .8);
  border: 1px solid #00ffff\9;
  border-radius: 2px;
  visibility: hidden;
  -webkit-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.75), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
.ui-securitycore  .ui-form-item .ui-form-explain{
  margin-top: 8px;
}
.i-block{
  display:inline-block;
}
.six-password{
  position: relative;
  height:55px;
  width:348px;
  overflow: hidden;
  vertical-align: middle;
}
/*选择抵用券*/
.discount .titleLine {
  font-size: 20px;
  height: 82px;
  line-height: 82px;
  border-bottom: 1px solid #999;
  padding-left: 30px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
}
.discount .titleLine .line {
  display: inline-block;
  width: 6px;
  height: 42px;
  background-color: #f57619;
  vertical-align: middle;
}
.discount .titleLine .title {
  margin-left: 25px;
}
.discountDetail{
  margin-left: 94px;
}
.discountItem{
  width: 338px;
  background-color: #ffffff;
}
.discountItem>ul{
  float: left;
  height: 101px;
}
.discountItem ul:first-child{
  width: 106px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border: 1px solid #eaeaea;
  text-align: center;
  padding-top: 10px;
}
.discountItem ul:nth-child(2){
  width: 228px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border: 1px solid #eaeaea;
  border-left: 0px;
  padding-top: 19px;
  padding-left: 35px;
  line-height: 24px;
}
.discountItem>ul .price{
  color: #f51919;
  font-size: 15px;
}
.discountItem>ul .price span{
  font-size: 44px;
}
.discountDetail .buttons{
  margin-top: 146px;
  margin-left: 88px;
  padding-left: 0px;
}
.discountDetail .buttons button {
  width: 249px;
  height: 61px;
  line-height: 61px;
  text-align: center;
  background-color: #f57619;
  border-radius: 6px;
}
.discountDetail .buttons li:nth-child(2){
  margin-left: 77px;
}
.discountDetail .discountItem{
  margin-top: 42px;
  cursor: pointer;
}
.discountDetail .discountItem:nth-child(2n){
  margin-left: 132px;
}
.discountItem .selected{
  position: absolute;
  top: -1px;
  right: 6px;
  width: 20px;
  height: 20px;
  display: none;
}
/*下拉框多选*/
.fs-wrap {
  position: relative;
  display: inline-block;
  width: 133px;
}
.fs-label-wrap {
  position: relative;
  border: 1px solid #999;
  cursor: default;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.fs-label-wrap,
.fs-dropdown {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.fs-label-wrap .fs-label {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}
.fs-arrow {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 6px solid #000;
  position: absolute;
  top: 0;
  right: 4px;
  bottom: 0;
  margin: auto;
  cursor: pointer;
}
.fs-dropdown {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  width: 100%;
  z-index: 2;
  border-radius: 4px;
}
.fs-dropdown .fs-options {
  max-height: 200px;
  overflow: auto;
}
.fs-search input {
  width: 90%;
  padding: 2px 4px;
  border: 0;
}
.fs-selectAll {
  float: right;
  cursor: pointer;
  margin-top: 4px;
  height: auto;
}
.fs-selectAll.selected {
  float: right;
  cursor: pointer;
  margin-top: 4px;
  height: auto;
  color: green;
}
.fs-selectAll:hover{
  background-color: #eee;
}
.fs-option,
.fs-search,
.fs-optgroup-label {
  padding: 6px 8px;
  border-bottom: 1px solid #eee;
  cursor: default;
}
.fs-option {
  cursor: pointer;
}
.fs-option.hl {
  background-color: #f5f5f5;
}
.fs-wrap.multiple .fs-option {
  position: relative;
  padding-left: 30px;
}
.fs-wrap.multiple .fs-checkbox {
  position: absolute;
  display: block;
  width: 30px;
  top: 0;
  left: 0;
  bottom: 0;
}
.fs-wrap.multiple .fs-option .fs-checkbox i {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 14px;
  height: 14px;
  border: 1px solid #aeaeae;
  border-radius: 4px;
  background-color: #fff;
}
.fs-wrap.multiple .fs-option.selected .fs-checkbox i {
  background-color: #f57619;
  border-color: transparent;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAGCAYAAAD+Bd/7AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAABMSURBVAiZfc0xDkAAFIPhd2Kr1WRjcAExuIgzGUTIZ/AkImjSofnbNBAfHvzAHjOKNzhiQ42IDFXCDivaaxAJd0xYshT3QqBxqnxeHvhunpu23xnmAAAAAElFTkSuQmCC');
  background-repeat: no-repeat;
  background-position: center;
}
.fs-wrap .fs-option:hover {
  /*background-color: #f5f5f5;*/
  background: #D1F3E5;
  border-radius: 4px;
  margin-left:0px;
  margin-right:2px;
}
.fs-optgroup-label {
  font-weight: bold;
}
.hidden {
  display: none;
}
.fs-options::-webkit-scrollbar {
  width: 6px;
}
.fs-options::-webkit-scrollbar-track {
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius:2em;
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  background: rgba(0,0,0,0.1);
}
.fs-options::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  background: rgba(0,0,0,0.2);
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius:2em;
}
label{
  margin-bottom: 0px;
}
