<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <link rel="stylesheet" href="../../plugins/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../plugins/layui/dist/css/layui.css">
    <link rel="stylesheet" href="../../common/css/reset.css">
    <link rel="stylesheet" href="../../common/css/common.css">
    <link rel="stylesheet" href="../../css/header.css">
    <link rel="stylesheet" href="../../css/footer.css">
    <link rel="stylesheet" href="../../css/cooperate/cooperate.css">
    <title>我要合作</title>
</head>

<body>
    <div class='header fixHeader' ms-controller='header'>
        <header>
            <!-- 版心 -->
            <div class='content_box'>
                <!-- 顶部的引导导航条 -->
                <div class='row topBar'>
                    <div class='col-md-6 col-sm-6'>
                        <div class='row'>
                            <div class='col-sm-5'>欢迎登陆纵运汽车服务平台</div>
                            <div class='col-sm-7'>成都市|<span>切换</span></div>
                        </div>
                    </div>
                    <div class='col-md-6 col-sm-6'>
                        <div class='row  text-right'>
                            <div class='col-sm-2 col-sm-offset-6'>消息</div>
                            <div class='col-md-4 col-sm-4 userMsg'>
                                <ul class='clearfix'>
                                    <li>头像</li>
                                    <li>用户名</li>
                                </ul>
                            </div>
                            <!-- <div class='col-sm-4'>您好,请<a href='javascript:;'>登录</a>或<a href='javaascript:;'>注册</a></div> -->
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- 导航条 -->
        <div class='navBar  fixNavBar'>
            <!-- 版心 -->
            <div class='content_box'>
                <div class="row">
                    <div class="col-md-3 col-sm-3 bg-fff">
                        <div class='row'>
                            <div class='col-sm-9 text-left'><img src="../../images/logo.png" width='202px' height='80px' alt="logo"></div>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-9 pl0">
                        <ul class="layui-nav">
                            <li class="layui-nav-item" data-src='../../index.html'><a href="javascript:;">首页</a></li>
                            <li class="layui-nav-item" data-src='../../views/carHall/carHall.html'><a href="javascript:;">汽车大厅</a></li>
                            <li class="layui-nav-item" data-src='../../views/financial/financial.html'><a href="javascript:;">金融服务</a></li>
                            <li class="layui-nav-item" data-src='../../views/order/order.html'><a href="javascript:;">合作商家</a></li>
                            <li class="layui-nav-item" data-src='../../views/logistics/logistics.html'><a href="javascript:;">物流公司</a></li>
                            <li class="layui-nav-item layui-this" data-src='../../views/cooperate/cooperate.html'><a href="javascript:;">我要合作</a></li>
                            <li class="layui-nav-item  downLoad" data-src='javascript:;'>
                                <a href="javascript:;">APP下载</a>
                                <div class='downloadApp'>
                                    <ul>
                                        <li><img src="../../images/qrCode.png" alt=""></li>
                                        <li>iphone客户端</li>
                                    </ul>
                                    <ul>
                                        <li><img src="../../images/qrCode.png" alt=""></li>
                                        <li>Android客户端</li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cooperate">
        <div class='content_box'>
            <div class='cooperateItem clearfix'>
                <div class='item_left pull-left'>
                    <img src="../../images/cooperate.png" width="421px" height='312px' alt="">
                    <div class='orangeBox'></div>
                </div>
                <div class='item_right pull-left ml52'>
                    <div class='titleLine color-000 font26 fontw'>商家合作</div>
                    <div class='item_detail pt42'>
                        <p>商家申请合作签约后可在平台发布货源订单,查看订单所有物流状态,</p>
                        <p>可实时查看司机位置信息,运输实状况随时可看,平台根据货物路程自</p>
                        <p>动计算运输价格,实现互联网新运输模式,杜绝价格陷阱！</p>
                    </div>
                    <div class='item_btn mt48'>
                        <button class='btn-apply'>申请合作</button>
                    </div>
                </div>
            </div>
            <div class='cooperateItem clearfix mt66'>
                <div class='item_right pull-left'>
                    <div class='titleLine color-000 font26 fontw'>物流公司</div>
                    <div class='item_detail pt23'>
                        <p>纵运汽车服务平台创建新的运输方式,主要用户针对于中大型企业,用</p>
                        <p>户覆盖全国60%的城市,另外拥有一套完整的运费计算公式,可根据货</p>
                        <p>物类型不同或者运输道路不同实行不同的智能计算方式,先付款在运输</p>
                        <p>人车双向监管,实现完全互联网新运输模式。</p>
                    </div>
                    <div class='item_btn mt20'>
                        <button class='btn-apply'>申请合作</button>
                    </div>
                </div>
                <div class='item_left pull-right rightImg clearfix'>
                    <img src="../../images/wl.png" width="421px" height='312px' alt="">
                    <div class='orangeBox'></div>
                </div>
            </div>
            <div class='cooperateItem clearfix mt66'>
                <div class='item_left pull-left'>
                    <img src="../../images/qydl.png" width="421px" height='312px' alt="">
                    <div class='orangeBox'></div>
                </div>
                <div class='item_right pull-left ml52'>
                    <div class='titleLine color-000 font26 fontw'>区域代理</div>
                    <div class='item_detail pt42'>
                        <p>招聘各个城市区域代理,平台提供所有技术支持,只要你有资源,有能</p>
                        <p>力,这里将书写你人生的一段精彩故事。</p>
                    </div>
                    <div class='item_btn mt94'>
                        <button class='btn-apply'>申请合作</button>
                    </div>
                </div>
            </div>
            <div class='cooperateItem clearfix mt66'>
                <div class='item_right pull-left'>
                    <div class='titleLine color-000 font26 fontw'>广告合作</div>
                    <div class='item_detail pt42'>
                        <p>目前我们平台日活跃用户量达到2.8万,用户覆盖全国60%的城市,其中</p>
                        <p>主要以二,三线城市为主,现对外开放部分广告位推广业务,申请合作</p>
                        <p>可详谈！</p>
                    </div>
                    <div class='item_btn mt48'>
                        <button class='btn-apply'>申请合作</button>
                    </div>
                </div>
                <div class='item_left pull-right rightImg clearfix'>
                    <img src="../../images/gghz.png" width="421px" height='312px' alt="">
                    <div class='orangeBox'></div>
                </div>
            </div>
        </div>
    </div>
    <script src='../../plugins/common/include.js'></script>
    <include src='../../views/footer/footer.html'></include>
    <script src='../../plugins/jquery/jquery.min.js'></script>
    <script src='../../plugins/layui/dist/layui.js'></script>
    <script src='../../plugins/avalon/avalon.min.js'></script>
    <script src='../../js/header.js'></script>
    <script src='../../js/cooperate/cooperate.js'></script>
</body>
</html>