<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <link rel="stylesheet" href="../../plugins/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../plugins/layui/dist/css/layui.css">
    <link rel="stylesheet" type="text/css" href="../../common/css/kuCity.css"/>
    <link rel="stylesheet" href="../../common/css/reset.css">
    <link rel="stylesheet" href="../../common/css/common.css">
    <link rel="stylesheet" href="../../css/header.css">
    <link rel="stylesheet" href="../../css/footer.css">
    <link rel="stylesheet" href="../../css/carHall/common.css">
    <link rel="stylesheet" href="../../css/carHall/carSeriesDetail.css">
    <title>汽车大厅</title>
</head>
<body>
    <div class='header fixHeader' ms-controller='header'>
        <header>
            <!-- 版心 -->
            <div class='content_box'>
                <!-- 顶部的引导导航条 -->
                <div class='row topBar'>
                    <div class='col-md-6 col-sm-6'>
                        <div class='row'>
                            <div class='col-sm-5'>欢迎登陆纵运汽车服务平台</div>
                            <div class='col-sm-7 citySelect'>成都市|
                                <input class="address" value="切换">
                            </div>
                        </div>
                    </div>
                    <div class='col-md-6 col-sm-6'>
                        <div class='row  text-right'>
                            <div class='col-sm-2 col-sm-offset-6'>消息</div>
                            <div class='col-md-4 col-sm-4 userInfo text-left'>
                                <ul class='clearfix'>
                                    <li class="userMsg dis_none ml10">头像</li>
                                    <li class="userMsg dis_none" ms-text="@userInfo.username" data-src="./views/personal/personal.html" ms-on-click="@getPage($event)"></li>
                                    <li class="userLogin">您好,请<a href='../../login.html'>登录</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- 导航条 -->
        <div class='navBar  fixNavBar'>
            <!-- 版心 -->
            <div class='content_box'>
                <div class="row">
                    <div class="col-md-3 col-sm-3 bg-fff">
                        <div class='row'>
                            <div class='col-sm-9 text-left'><img src="../../images/logo.png" width='202px' height='80px' alt="logo"></div>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-9 pl0">
                        <ul class="layui-nav">
                            <li class="layui-nav-item" data-src='../../index.html'><a href="javascript:;">首页</a></li>
                            <li class="layui-nav-item layui-this" data-src='../../views/carHall/carHall.html'><a href="javascript:;">汽车大厅</a></li>
                            <li class="layui-nav-item" data-src='../../views/financial/financial.html'><a href="javascript:;">金融服务</a></li>
                            <li class="layui-nav-item" data-src="javascript:;">
                                <a href="javascript:;">运输管理</a>
                                <dl class="layui-nav-child">
                                    <dd><a href="../../views/order/order.html">渣土运输</a></dd>
                                    <dd><a href="../../views/order/order.html">产业运输</a></dd>
                                </dl>
                            </li>
                            <li class="layui-nav-item" data-src='../../views/logistics/logistics.html'><a href="javascript:;">物流公司</a></li>
                            <li class="layui-nav-item" data-src='../../views/cooperate/cooperate.html'><a href="javascript:;">我要合作</a></li>
                            <li class="layui-nav-item  downLoad" data-src='javascript:;'>
                                <a href="javascript:;">APP下载</a>
                                <div class='downloadApp'>
                                    <ul>
                                        <li><img src="../../images/qrCode.png" alt=""></li>
                                        <li>iphone客户端</li>
                                    </ul>
                                    <ul>
                                        <li><img src="../../images/qrCode.png" alt=""></li>
                                        <li>Android客户端</li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 汽车大厅 -->
    <div class='carHallContent' ms-controller='root'>
        <!-- 版心 -->
        <div class='content_box'>
            <!-- 轻卡等分类系列 -->
            <div class='kinds clearfix'>
                <ul>
                    <li><img src="../../images/qk.png" width='94px' height='60px' alt=""></li>
                    <li>轻卡</li>
                </ul>
                <ul>
                    <li><img src="../../images/zk.png" width='94px' height='60px' alt=""></li>
                    <li>重卡</li>
                </ul>
                <ul>
                    <li><img src="../../images/qy.png" width='94px' height='60px' alt=""></li>
                    <li>牵引车</li>
                </ul>
                <ul>
                    <li><img src="../../images/zh.png" width='94px' height='60px' alt=""></li>
                    <li>载货车</li>
                </ul>
                <ul>
                    <li><img src="../../images/zx.png" width='94px' height='60px' alt=""></li>
                    <li>自卸车</li>
                </ul>
                <ul>
                    <li><img src="../../images/xny.png" width='94px' height='60px' alt=""></li>
                    <li>新能源</li>
                </ul>
            </div>
            <!-- 加盟广告 -->
            <div class='ads'>
                <img src="../../images/ads.png" width='100%' height='144px' alt="加盟广告">
            </div>
            <!-- 面包屑导航 -->
            <div class='row breadNav'>
                <div class='col-md-6 col-sm-6 ml0'>
                    <span>当前位置</span>
                    <span class='ml4 mr4'>:</span>
                    <span class="layui-breadcrumb" lay-separator=">">
                        <a href="../../index.html">首页</a>
                        <a href="carHall.html">汽车大厅</a>
                        <a href='javascript:;'><cite>条件找车</cite></a>
                    </span>
                </div>
                <div class='col-md-6 col-sm-6 text-right'>
                    <input type="text" class='search' placeholder="输入要查找的关键词" /><button class='btn-search'>搜索</button>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-12 col-sm-12'>
                    <div class="title_line" ms-text="@carDetail.series"></div>
                </div>
            </div>
            <div class='row carSeriesDetail'>
                <div class='col-md-9 col-sm-9'>
                    <!-- 车系详情 -->
                    <div class='row detailDes clearfix'>
                        <div class='col-md-6 col-sm-6 detailImg' data-src='carImg.html' ms-on-click='@getPage($event)'><img src="../../images/carSeiresDetail.png" alt="车系信息详情"></div>
                        <div class='col-md-6 col-sm-6 detailDescription'>
                            <div class='carPrice'><label ms-text="@carDetail.minPrice"></label>-<label ms-text="@carDetail.maxPrice"></label><span class='priceUnit'>万元</span><span>(<label ms-text="@carDetail.car_count"></label>款车型)</span></div>
                            <div class="row detailMsg">
                                <div class="col-md-3 col-sm-3">驱动形式<span>:</span></div>
                                <div class="col-md-9 col-sm-9">
                                    <span ms-text="@carDetail.base_drive">6X4</span>
                                    <!--<span>8X8</span><span>6X6</span><span>4X2</span><span>6X2</span>-->
                                </div>
                            </div>
                            <div class="row detailMsg">
                                <div class="col-md-3 col-sm-3" style='letter-spacing: 5.5px'>发动机<span>:</span></div>
                                <div class="col-md-9 col-sm-9" ms-text="@carDetail.engine_model"></div>
                            </div>
                            <div class="row detailMsg">
                                <div class="col-md-3 col-sm-3">最大马力<span>:</span></div>
                                <div class="col-md-9 col-sm-9" ms-text="@carDetail.engine_max_power"></div>
                            </div>
                            <div class="row detailMsg">
                                <div class="col-md-3 col-sm-3">排放标准<span>:</span></div>
                                <div class="col-md-9 col-sm-9" ms-text="@carDetail.engine_emission"></div>
                            </div>
                            <div class="row detailMsg">
                                <div class="col-md-3 col-sm-3" style='letter-spacing: 5.5px'>变速箱<span>:</span></div>
                                <div class="col-md-9 col-sm-9" ms-text="@carDetail.gearbox"></div>
                            </div>
                            <div class="row detailMsg">
                                <div class="col-md-3 col-sm-3">前进档位<span>:</span></div>
                                <div class="col-md-9 col-sm-9" ms-text="@carDetail.gearbox_forward_gear"></div>
                            </div>
                            <div class='row detailMsg agentPhone'>
                                <div class='col-md-12 col-sm-12'>
                                    <ul class='clearfix'>
                                        <li>icon</li>
                                        <li>厂商电话<span>:</span></li>
                                        <li ms-text="@carDetail.tell">8959-65243656</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 在售 停售 即将上市的状态 -->
                    <div class='row statueChoose'>
                        <div class='col-md-12 col-sm-12'>
                            <ul class='statusList clearfix'>
                                <li class='hightLight' ms-on-click="@getZSList">在售</li>
                                <li ms-on-click="@getSHList">即将上市</li>
                                <li ms-on-click="@getTSList">停售</li>
                            </ul>
                            <!-- 筛选 -->
                            <div class='filter clearfix' ms-visible="@data.car_ty == 'TRADITIONAL'">
                                <select ms-duplex="@filterData.engine" data-duplex-changed="@getFilterList">
                                    <!--发动机-->
                                    <option value="发动机">发动机</option>
                                    <option ms-if="@carDetail.engine_model_arr.length" ms-for="el in @carDetail.engine_model_arr" ms-attr="{ value : el }" ms-text="el"></option>
                                </select>
                                <select ms-duplex="@filterData.base_drive" data-duplex-changed="@getFilterList">
                                    <!--驱动形式-->
                                    <option value="驱动形式">驱动形式</option>
                                    <option ms-if="@carDetail.base_drive_arr.length" ms-for="el in @carDetail.base_drive_arr" ms-attr="{ value : el }" ms-text="el"></option>
                                </select>
                                <select ms-duplex="@filterData.engine_max_power" data-duplex-changed="@getFilterList">
                                    <!--马力-->
                                    <option value="马力">马力</option>
                                    <option ms-if="@carDetail.engine_max_power_arr.length" ms-for="el in @carDetail.engine_max_power_arr" ms-attr="{ value : el }" ms-text="el"></option>
                                </select>
                                <select ms-duplex="@filterData.gearbox_forward_gear" data-duplex-changed="@getFilterList">
                                    <!--档位-->
                                    <option value="档位">档位</option>
                                    <option ms-if="!@carDetail.gearbox_forward_gear_arr.length" ms-for="el in @carDetail.gearbox_forward_gear_arr" ms-attr="{ value : el }" ms-text="el"></option>
                                </select>
                            </div>
                            <div class='statusContent'>
                                <!--在售-->
                                <div class='statusDetail'>
                                    <table class="table table-condensed selectTable"  ms-for="(index,el) in @ZSList">
                                        <tbody>
                                            <tr>
                                                <td>驱动形式<span ms-text="el[0].base_drive"></span></td>
                                                <td>厂商指导价</td>
                                                <td>图片</td>
                                                <td>相关信息</td>
                                            </tr>
                                            <tr ms-for="val in el">
                                                <td>
                                                    <div class='selectDetail'>
                                                        <span ms-text="val.manager_name"></span>
                                                        <span ms-text="val.type_name"></span>
                                                        <span><span ms-text="val.engine_max_power"></span>马力</span>
                                                        <span><span ms-text="val.base_drive"></span></span>
                                                        <span>(<i ms-text="val.car_number"></i>)</span>
                                                    </div>
                                                    <div class='allStatus'>
                                                        <button>在售</button>
                                                        <button><span ms-text="val.base_long"></span>米</button>
                                                        <button>核载<span ms-text="val.base_load"></span>吨</button>
                                                    </div>
                                                </td>
                                                <td><span ms-text="val.price"></span>万</td>
                                                <td><a  ms-attr="{ href : './checkSeriesDetail.html?car_ty=' + val.car_type + '&id=' + val.id }">查看图片</a></td>
                                                <td><a  ms-attr="{ href : './checkSeriesDetail.html?car_ty=' + val.car_type + '&id=' + val.id }">查看参数</a></td>
                                            </tr>
                                            <tr class="moreData" style="border-bottom: 0px;border-top:1px solid #e9e9e9;">
                                                <td colspan="4">
                                                    <div class="loadMoreData" ms-on-click="@getMoreData(10)">点击查看更多</div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!--即将上市-->
                                <div class='statusDetail dis_none'>
                                    <table class="table table-condensed selectTable"  ms-for="(index,el) in @SSList">
                                        <tbody>
                                            <tr>
                                                <td>驱动形式<span ms-text="el[0].base_drive"></span></td>
                                                <td>厂商指导价</td>
                                                <td>图片</td>
                                                <td>相关信息</td>
                                            </tr>
                                            <tr ms-for="val in el">
                                                <td>
                                                    <div class='selectDetail'>
                                                        <span ms-text="val.manager_name"></span>
                                                        <span ms-text="val.type_name"></span>
                                                        <span><span ms-text="val.engine_max_power"></span>马力</span>
                                                        <span ms-text="val.base_drive"></span>
                                                        <span>(<i ms-text="val.car_number"></i>)</span>
                                                    </div>
                                                    <div class='allStatus'>
                                                        <button>即将上市</button>
                                                        <button><span ms-text="val.base_long"></span>米</button>
                                                        <button>核载<span ms-text="val.base_load"></span>吨</button>
                                                    </div>
                                                </td>
                                                <td><span ms-text="val.price"></span>万</td>
                                                <td><a  ms-attr="{ href : './checkSeriesDetail.html?car_ty=' + val.car_type + '&id=' + val.id }">查看图片</a></td>
                                                <td><a  ms-attr="{ href : './checkSeriesDetail.html?car_ty=' + val.car_type + '&id=' + val.id }">查看参数</a></td>
                                            </tr>
                                            <tr class="moreData" style="border-bottom: 0px;border-top:1px solid #e9e9e9;">
                                                <td colspan="4">
                                                    <div class="loadMoreData" ms-on-click="@getMoreData(30)">点击查看更多</div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!--停售-->
                                <div class='statusDetail dis_none'>
                                    <table class="table table-condensed selectTable"  ms-for="(index,el) in @TSList">
                                        <tbody>
                                        <tr>
                                            <td>驱动形式<span ms-text="el[0].base_drive"></span></td>
                                            <td>厂商指导价</td>
                                            <td>图片</td>
                                            <td>相关信息</td>
                                        </tr>
                                        <tr ms-for="val in el">
                                            <td>
                                                <div class='selectDetail'>
                                                    <span ms-text="val.manager_name"></span>
                                                    <span ms-text="val.type_name"></span>
                                                    <span><span ms-text="val.engine_max_power"></span>马力</span>
                                                    <span><span ms-text="val.base_drive"></span></span>
                                                    <span>(<i ms-text="val.car_number"></i>)</span>
                                                </div>
                                                <div class='allStatus'>
                                                    <button>停售</button>
                                                    <button><span ms-text="val.base_long"></span>米</button>
                                                    <button>核载<span ms-text="val.base_load"></span>吨</button>
                                                </div>
                                            </td>
                                            <td><span ms-text="val.price"></span>万</td>
                                            <td><a  ms-attr="{ href : './checkSeriesDetail.html?car_ty=' + val.car_type + '&id=' + val.id }">查看图片</a></td>
                                            <td><a  ms-attr="{ href : './checkSeriesDetail.html?car_ty=' + val.car_type + '&id=' + val.id }">查看参数</a></td>
                                        </tr>
                                        <tr class="moreData" style="border-bottom: 0px;border-top:1px solid #e9e9e9;">
                                            <td colspan="4">
                                                <div class="loadMoreData" ms-on-click="@getMoreData(20)">点击查看更多</div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 经销商 -->
                    <div class='row dealer'>
                        <div class='dealerTitle'>
                          <div class="title_line"><i  ms-text="@carDetail.series"></i><span>经销商</span></div>
                        </div>
                        <div class='col-md-12 col-sm-12'>
                            <div class='row province'>
                                <div class='col-md-1 col-sm-1'>省份:</div>
                                <div class='col-md-11 col-sm-11' id='province'></div>
                            </div>
                            <div class='row city'>
                                <div class='col-md-1 col-sm-1'>城市:</div>
                                <div class='col-md-11 col-sm-11' id='city'></div>
                            </div>
                            <div class='row agent'>
                                <div class='col-md-12 col-sm-12'>
                                    <div class='agent_content clearfix'>
                                        <div class='agent_detail fl' ms-for="el in @agentList">
                                            <ul class='pull-left font16'>
                                                <li ms-text="el.shop_name"></li>
                                                <li>
                                                    <button>4S店</button>
                                                    <button><i ms-text="el.year"></i>年</button>
                                                </li>
                                            </ul>
                                            <ul class='pull-left logo'>
                                                <li><img ms-attr="{ src : el.shop_logo }" width='96px' height='59px' alt=""></li>
                                            </ul>
                                            <div class='clearfix'></div>
                                            <ul class='clearfix'>
                                                <li class='pull-left'>品&emsp;&emsp;牌&nbsp;:&nbsp;</li>
                                                <li class='pull-left' ms-text="el.brands"></li>
                                            </ul>
                                            <ul class='clearfix'>
                                                <li class='pull-left'>地&emsp;&emsp;址&nbsp;:&nbsp;</li>
                                                <li class='pull-left' ms-text="el.province + el.city + el.area + el.address"></li>
                                            </ul>
                                            <ul class='clearfix'>
                                                <li class='pull-left'>经销商电话&nbsp;:&nbsp;</li>
                                                <li class='pull-left font20' ms-text="el.hot_line"></li>
                                            </ul>
                                        </div>
                                        <!--<div class='agent_detail fl'>
                                            <ul class='pull-left font16'>
                                                <li>四川信智益汽车销售服务有限公司</li>
                                                <li>
                                                    <button>4S店</button>
                                                    <button>售本市</button>
                                                    <button>2年</button>
                                                </li>
                                            </ul>
                                            <ul class='pull-left logo'>
                                                <li><img src="../../images/qx.jpg" width='96px' height='59px' alt="">
                                                </li>
                                            </ul>
                                            <div class='clearfix'></div>
                                            <ul class='clearfix'>
                                                <li class='pull-left'>品&emsp;&emsp;牌&nbsp;:&nbsp;</li>
                                                <li class='pull-left'>中国重汽</li>
                                            </ul>
                                            <ul class='clearfix'>
                                                <li class='pull-left'>地&emsp;&emsp;址&nbsp;:&nbsp;</li>
                                                <li class='pull-left'>四川省成都双流会缘汽配城21栋</li>
                                            </ul>
                                            <ul class='clearfix'>
                                                <li class='pull-left'>经销商电话&nbsp;:&nbsp;</li>
                                                <li class='pull-left font20'>4006839788</li>
                                            </ul>
                                        </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--新闻-->
                <div class='col-md-3 col-sm-3'>
                    <div class='seriesNews'>
                        <div class='title_line'>新闻</div>
                        <ul class='clearfix' ms-for="el in @newsList">
                            <li><span class='circle-gray'></span></li>
                            <li><a ms-attr="{href:'./carNewsDetail.html?id='+ el.id + '&type=' + el.type + '&news_type=' + el.news_type}"  ms-text="el.title"></a></li>
                        </ul>
                    </div>
                    <div class='relativeSeries'>
                        <div class='title_line'>相关车系</div>
                        <div class='relativeDetail' ms-for="el in relatedCars" >
                            <div class='relativeTitle'ms-text="el.series"></div>
                            <ul class='clearfix'>
                                <li class='pull-left'><span ms-text="el.minPrice"></span>~<span ms-text="el.maxPrice"></span>万</li>
                                <li class='pull-right'><a ms-attr="{ href : './carSeriesDetail.html?car_ty='+el.car_ty + '&id=' + el.manager_id+'&series='+el.series }" >询底价&gt;&gt;</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--content_box -->
    </div>
    <script src="../../plugins/common/include.js"></script>
    <include src="../footer/footer.html"></include>
    <script src='../../plugins/jquery/jquery.min.js'></script>
    <script src='../../plugins/layui/dist/layui.js'></script>
    <script src='../../plugins/avalon/avalon.min.js'></script>
    <script src='../../common/js/kuCity.js'></script>
    <script src='../../plugins/banner/js/banner.js'></script>
    <script src='../../data/api.js'></script>
    <script src='../../data/return_data.js'></script>
    <script src='../../data/data.js'></script>
    <script src='../../js/header.js'></script>
    <script src='../../js/carHall/carSeriesDetail.js'></script>
</body>

</html>

<!--
<tr>
    <td>
        <div class="selectDetail">
            <span>中国重汽</span>
            <span>云内动力 </span>
            <span><span>421</span>马力</span>
            <span><span>6x4</span></span>
            <span>(<i>ZH2019090900001N</i>)</span>
        </div>
        <div class="allStatus">
            <button>在售</button>
            <button><span>9.66</span>米</button>
            <button>核载<span>10.00</span>吨</button>
        </div>
    </td>
    <td>
        <span>29.40</span>万
    </td>
    <td>
        <a href="./checkSeriesDetail.html?car_ty=ENERGY&id=37">查看图片</a>
    </td>
    <td>
        <a href="./checkSeriesDetail.html?car_ty=ENERGY&id=37">查看参数</a>
    </td>
</tr>-->
